            </div><!-- #main -->
        </div><!-- .row-fluid -->
    </div><!-- .container -->
    <div class="container">
        <footer>
        <div class="row-fluid">
            <div class="span8">
            <nav>
            <ul>
                <li><a href="/Home/termsandconditions">Terms &amp; Conditions</a></li>
                <li><a href="/Home/termsandconditions#pp">Privacy Policy</a></li>
                <li><a href="/Home/howitworks">How It Works</a></li>
                <li><a href="/Home/about">About</a></li>
                <!--<li><a href="/Home/media">Media/Press</a></li>-->
            </ul>
                </nav>
        </div>
        <div class="span4">
            <a href="http://facebook.com/LadiesChoiceMedia"><img src="/Content/images/facebook-icon.png"></a>
            &copy; <span class="theyear">2013</span>
            </div><!-- span-6 -->
        </div>
            </footer>
    </div><!-- .container -->


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
 <!--[if lt IE 10]>
<script src="/Scripts/placeholder.min.js"></script>
<![endif]-->

      <script src="/Scripts/bootstrap.js"></script>   
      <script src="/Content/{{city}}/GA.js" type="text/javascript"></script>
      <script type="text/javascript">
            $(".theyear").text(1900 + (new Date()).getYear());
        </script>
      <script src="/Scripts/lcv.js" type="text/javascript"></script>
    </body>
</html>

