            </div><!-- #main -->
        </div><!-- .row-fluid -->
    </div><!-- .container -->
    <div class="container">
        <footer>
        <div class="row-fluid">
            <div class="span8">
            <nav>
            <ul>
                <li><a href="/Home/termsandconditions">Terms &amp; Conditions</a></li>
                <li><a href="/Home/termsandconditions#pp">Privacy Policy</a></li>
                <li><a href="/Home/howitworks">How It Works</a></li>
                <li><a href="/Home/about">About Us</a></li>
                <!--<li><a href="/Home/media">Media/Press</a></li>
                <li><a href="/Home/advertising">Advertising</a></li>-->
            </ul>
                </nav>
        </div>
        <div class="span4">
            <a href="http://facebook.com/LadiesChoiceVictoria/"><img src="/Content/images/facebook-icon.png"></a>
            <a href="http://twitter.com/ladieschoicevic/"><img src="/Content/images/favicon-twitter.png"></a>
            &copy; <span class="theyear">2013</span>
            </div><!-- span-6 -->
        </div>
            </footer>
    </div><!-- .container -->

        {{! Javascript goes here. }}
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="http://s3.amazonaws.com/master-dater/static/js/libs/jquery-1.7.1.min.js"><\/script>')</script>

        <script src="/js/lcv.js" type="text/javascript"></script>

        <script type="text/javascript">

            $(".theyear").text(1900 + (new Date()).getYear());

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-3525624-14']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
    </body>
</html>

