<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
  <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />


        <title>Ladies Choice {{city}} | online dating site for singles in {{city}}, {{province}}</title>
        <meta name="description" content="Online dating for singles in {{city}} {{province}}, where ladies message first. Less spam for her, less disappointment for him." />
          <meta name="author" content="Ladies Choice Media Inc." />

            <meta name="viewport" content="width=device-width" />

              <link rel="stylesheet" href="/Content/bootstrap.css" />
                <link rel="stylesheet" href="/Content/bootstrap-responsive.css" />
                  <link rel="stylesheet" href="/Content/{{city}}/Style.css" />
                    <link rel="apple-touch-icon" href="/Content/images/touch-icon-iphone.png" />
                    <link rel="apple-touch-icon" sizes="72x72" href="/Content/images/touch-icon-ipad.png" />
                    <link rel="apple-touch-icon" sizes="114x114" href="/Content/images/touch-icon-iphone4.png" />
                    <link rel="apple-touch-icon" sizes="144x144" href="/Content/images/touch-icon-ipad2.png" />
    
    <!--[if lt IE 10]>
<script src="/Scripts/html5shiv.js"></script>
<link rel="stylesheet" href="/Content/{{city}}/ie.css">
<![endif]-->
    {{#ShowFBCode}}
    {{^ShowMenu}}
    <script type="text/javascript">
    var fb_param = {};
    fb_param.pixel_id = '6011014200715';
    fb_param.value = '0.00';
    fb_param.currency = 'CAD';
    (function(){
    var fpw = document.createElement('script');
    fpw.async = true;
    fpw.src = '//connect.facebook.net/en_US/fp.js';
    var ref = document.getElementsByTagName('script')[0];
    ref.parentNode.insertBefore(fpw, ref);
    })();
  </script>
  <noscript>
    <img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/offsite_event.php?id=6011014200715&amp;value=0&amp;currency=CAD" />
  </noscript>
    {{/ShowMenu}}
    {{/ShowFBCode}}
    {{#PromptMobileShortCut}}


    <!--<meta name="apple-mobile-web-app-capable" content="yes">-->
                              <meta name="apple-mobile-web-app-status-bar-style" content="black" />
                                <script type="text/javascript">
                                  var addToHomeConfig = {
                                  autostart: false,
                                  returningVisitor: true
                                  };
                                </script>
                                <link rel="stylesheet" href="/Content/add2home.css" />
                                  <script type="application/javascript" src="/Scripts/add2home.js" charset="utf-8"></script>
                                  
                                  {{/PromptMobileShortCut}}



                                </head>
  <body>
    <!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->

    <div class="navbar">
      <div class="navbar-inner">
        <h1 class="logo">
          <a href="/">{{site_name}}</a>
        </h1>

        <div class="navbar-controls">
          {{#user}}
          
          <form class="navbar-form" action="/Account/Logoff" method="POST">
            <span class="navbar-text welcome-msg">
              Welcome, {{Username}}&nbsp;
            </span>
            <input type="submit" value="Log Out" class="btn" />
                        </form>
          {{/user}}

          {{! User is not logged in -- show login form }}
          {{^user}}
          <div class="navbar-form">
          <form action="/Account/Login{{#ReturnUrl}}/?ReturnUrl={{ReturnUrl}}{{/ReturnUrl}}" method="POST">
            
            <input type="text" class="navbar-form-txt" name="LoginUserName" id="LoginUserName" placeholder="username or email" />
            <input type="password" class="navbar-form-txt" name="password" id="password" placeholder="password" />
             
            <input type="submit" value="Log In" class="btn" />
             
          </form>
          </div>
          {{/user}}
        </div>
        <!-- navbar-controls -->
      </div>
      <!-- navbar-inner -->
    </div>
    <!-- .navbar -->


    <div class="container main">
      {{#FlashMessage}}
      <div class="msg">{{FlashMessage}}</div>
      {{/FlashMessage}}

      <div class="row-fluid">
        {{#user}}
        {{#ShowMenu}}
        <div class="span3 nav-pills-box">
          <ul class="nav nav-pills nav-stacked">
            <li>
              <a href="/Message/Inbox">
                <i class="icon-envelope"></i> My Inbox
                {{#NumUnReadMessages}}({{NumUnReadMessages}}){{/NumUnReadMessages}}
              </a>
            </li>
            {{#IsFemale}}
            <li>
              <a href="/MyMatches/Search">
                <i class="icon-heart"></i> Search
              </a>
            </li>
            {{/IsFemale}}
            <li>
              <a href="/MyMatches">
                <i class="icon-heart"></i> My Matches
              </a>
            </li>
            
            <li>
              <a href="/Profile/MyProfile">
                <i class="icon-user"></i> My Profile
              </a>
            </li>
            <li>
              <a href="/Photo/MyPhotos">
                <i class="icon-camera"></i> My Photos
              </a>
            </li>
            <li>
              <a href="/MyPreferences">
                <i class="icon-cog"></i> My Preferences
              </a>
            </li>
            <li>
              <a href="/Account/MyAccount">
                <i class="icon-folder-open"></i> My Account
              </a>
            </li>
          </ul>
          {{#StatusMessage}}
          <p class="status-message">{{{StatusMessage}}}</p>
          {{/StatusMessage}}

          {{#ShowEvents}}<h4>Upcoming Events</h4>{{/ShowEvents}}
          {{#Events}}
          <div>
            <a href="/Home/EventDetails/{{EventID}}">
              <table>
                <tr>
                  <td class="eventdate-teaser">{{FormattedDate}} - </td>
                  <td>{{EventName}}</td>
                </tr>
              </table>
            </a>
          </div>
          {{/Events}}

        </div>
        <div class="span9" id="main">
          {{/ShowMenu}}
          {{/user}}

          {{^user}}
          <div class="span12" id="main">
{{/user}}