﻿
@Html.Partial("_header")
                @RenderBody()

</div><!-- #main -->
        </div><!-- .row-fluid -->
    </div><!-- .container -->
    <div class="container">
        <footer>
        <div class="row-fluid">
            <div class="span8">
            <nav>
            <ul>
                <li><a href="/Home/termsandconditions">Terms &amp; Conditions</a></li>
                <li><a href="/Home/termsandconditions#pp">Privacy Policy</a></li>
                <li><a href="/Home/howitworks">How It Works</a></li>
                <li><a href="/Home/about">About Us</a></li>
                <li><a href="/Home/media">Media/Press</a></li>
            </ul>
                </nav>
        </div>
        <div class="span4">
            <a href="http://facebook.com/LadiesChoiceMedia/"><img src="/Content/images/facebook-icon.png"></a>
            &copy; <span class="theyear">@DateTime.Now.Year</span>
            </div><!-- span-6 -->
        </div>
        </footer>
 </div><!-- .container -->
        @RenderSection("scripts", required: false)

    </body>
</html>