﻿@*<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - My ASP.NET MVC Application</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        <!-- @Scripts.Render("~/bundles/modernizr") -->
        @Styles.Render("~/Content/bootstrap.css")
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">@Html.ActionLink("your logo here", "Index", "Home")</p>
                </div>
                <div class="float-right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                    <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("About", "About", "Home")</li>
                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">*@
@Html.Partial("_header")
                @RenderBody()

</div><!-- #main -->
        </div><!-- .row-fluid -->
    </div><!-- .container -->
    <div class="container">
        <footer>
        <div class="row-fluid">
            <div class="span8">
            <nav>
            <ul>
                <li><a href="/Home/termsandconditions">Terms &amp; Conditions</a></li>
                <li><a href="/Home/termsandconditions#pp">Privacy Policy</a></li>
                <li><a href="/Home/howitworks">How It Works</a></li>
                <li><a href="/Home/about">About Us</a></li>
@*                <li><a href="/Home/media">Media/Press</a></li>*@
            </ul>
                </nav>
        </div>
        <div class="span4">
            <a href="@Model.FacebookGroupURL"><img src="/Content/images/facebook-icon.png" alt="Ladies Choice Vancouver facebook group"></a>
            &copy; <span class="theyear">@DateTime.Now.Year</span>
            </div><!-- span-6 -->
        </div>
        </footer>
 </div><!-- .container -->
 <!--[if lt IE 9]>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<![endif]-->
<!--[if gt IE 8]><!-->
        @Scripts.Render("~/bundles/jquery")
<!--<![endif]-->
 <!--[if lt IE 10]>
<script src="/Scripts/placeholder.min.js"></script>
<![endif]-->
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
        @model LadiesChoice.ViewModels.CommonViewModel
@{
        <script src="/Content/@Model.city/GA.js" type="text/javascript"></script>
}
      

    </body>
</html>

@*@Html.Partial("_footer")
@RenderSection("scripts", required: false)*@