﻿@model LadiesChoice.ViewModels.PhotoEditorViewModel
   @*<div id="cropContainer">*@
     @*<div id="cropPreview"> //this section isn't used
        <img src="@(String.IsNullOrEmpty(Model.ImageUrl.ToString()) ? "" : Model.ImageUrl.ToString())" id="preview" />
    </div>*@
       
@*     <div id="cropDisplay">
         <img src="@(String.IsNullOrEmpty(Model.ImageUrl.ToString()) ? "" : Model.ImageUrl.ToString())?tm=@DateTime.Now.ToLongTimeString()" id="profileImageEditor" />
         
    </div>
 </div>*@

<div id="mobileView"><img id="staticImage" src="@(String.IsNullOrEmpty(Model.ImageUrl.ToString()) ? "" : Model.ImageUrl.ToString())?tm=@DateTime.Now.ToLongTimeString()" /></div>


@* <script type="text/javascript" defer="defer">
     $(function () {
         if ($('#mobileView').css('display') == 'none') {
             $('#NoEditor').val(false);
         }
         var is_msie = /msie/.test(navigator.userAgent.toLowerCase());
         var jcrop_obj;
         var isInitialPageLoad = "@Model.IntialPageLoad";*@
         @*if (is_msie && isInitialPageLoad == "True") { //this section isn't used
             jQuery.Jcrop('#profileImageEditor', {
                 onChange: showPreview,
                 onSelect: showPreview,
                 setSelect: [@Model.Top, @Model.Left, @Model.Right, @Model.Bottom],
                 aspectRatio: 1
         });
         }
         else {*@
@*             jQuery('#profileImageEditor').Jcrop({
                 onChange: showPreview,
                 onSelect: showPreview,
                 setSelect: [@Model.Top, @Model.Left, @Model.Right, @Model.Bottom],
                 aspectRatio: 1
             });
         //}
         

   });


    function showPreview(coords)
    {
        if (parseInt(coords.w) > 0)
        {
             
            
             $('#Top').val(coords.y);
             $('#Left').val(coords.x);
             $('#Bottom').val(coords.y2);
             $('#Right').val(coords.x2);
             

             //jQuery('#preview').css({
             //    width: Math.round(rx * width) + 'px',
             //    height: Math.round(ry * height) + 'px',
             //    marginLeft: '-' + Math.round(rx * coords.x) + 'px',
             //    marginTop: '-' + Math.round(ry * coords.y) + 'px'
             //});
        }
        //$('#x').val(coords.x);
        //$('#y').val(coords.y);
        //$('#w').val(coords.w);
        //$('#h').val(coords.h);
     }

</script>*@
