﻿@model LadiesChoice.ViewModels.CommonViewModel
@*@model System.Web.Mvc.HandleErrorInfo*@

@{
    ViewBag.Title = "Error";
}

<hgroup class="title">
    <h1 class="error">Error. </h1>
    <h2 class="error">An error occurred while processing your request.</h2>

</hgroup>
<a href="javascript: window.history.back();">Go Back</a>
@*@model HandleErrorInfo
    <p>Message: @Model.Exception.Message</p>
    <p>Message: @Model.Exception.StackTrace</p>
    @if (Model.Exception.InnerException != null) {
        <p>Message: @Model.Exception.InnerException.Message</p>
        <p>Message: @Model.Exception.InnerException.StackTrace</p>
    }
 @if (Model.Exception.InnerException.InnerException != null) {
        <p>Message: @Model.Exception.InnerException.InnerException.Message</p>
        <p>Message: @Model.Exception.InnerException.InnerException.StackTrace</p>
    }
 @if (Model.Exception.InnerException.InnerException.InnerException != null) {
        <p>Message: @Model.Exception.InnerException.InnerException.InnerException.Message</p>
        <p>Message: @Model.Exception.InnerException.InnerException.InnerException.StackTrace</p>
    }*@