﻿

<div class="span4 profile-details">
  <table class="table">
    <tr>
      <th>Body Type</th>
      <td>{{BodyType}}</td>
    </tr>
    <tr>
      <th>Smokes?</th>
      <td>{{Smokes}}</td>
    </tr>
    <tr>
      <th>Drinks?</th>
      <td>{{Drinks}}</td>
    </tr>
    <tr>
      <th>Religion</th>
      <td>{{Religion}}</td>
    </tr>
    <tr>
      <th>Has Kids</th>
      <td>{{HaveChildren}}</td>
    </tr>
    <tr>
      <th>Wants (More) Kids</th>
      <td>{{WantChildren}}</td>
    </tr>
    <tr>
      <th>Education</th>
      <td>{{Education}}</td>
    </tr>
    <tr>
      <th>Job</th>
      <td>{{Job}}</td>
    </tr>
  </table>
</div>
<!-- profile-details -->

<!--</div>-->
<!-- row-fluid -->

