<form action="/filters" class="form-horizontal" method="POST">
  <fieldset>
    <legend>I prefer someone who...</legend>
    <div class="control-group">
      <label class="control-label" for="older_than">Older Than</label>
      <div class="controls">
        <select name="older_than">
          {{#older_than}}
          <option {{#selected}}selected="selected"{{/selected}}>{{value}}</option>
          {{/older_than}}
        </select>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="younger_than">Younger Than</label>
      <div class="controls">
        <select name="younger_than">
          {{#younger_than}}
          <option {{#selected}}selected="selected"{{/selected}}>{{value}}</option>
          {{/younger_than}}
        </select>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="taller_than">Taller Than</label>
      <div class="controls">
        <select name="taller_than">
          {{#taller_than}}
          <option {{#selected}}selected="selected"{{/selected}}>{{value}}</option>
          {{/taller_than}}
        </select>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="shorter_than">Shorter Than</label>
      <div class="controls">
        <select name="shorter_than">
          {{#shorter_than}}
          <option {{#selected}}selected="selected"{{/selected}}>{{value}}</option>
          {{/shorter_than}}
        </select>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="body_type">Body Type</label>
      <div class="controls">
        <ul class="checkbox">
          {{#body_type}}
          <li>
            <label>
              <input {{#selected}}checked="checked"{{/selected}} id="body_type" name="body_type" type="checkbox" value="{{value}}" />{{label}}
            </label>
          </li>
          {{/body_type}}
        </ul>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="looking_for">Looking For</label>
      <div class="controls">
        <ul class="checkbox">
          {{#looking_for}}
          <li>
            <label>
              <input {{#selected}}checked="checked"{{/selected}} id="looking_for" name="looking_for" type="checkbox" value="{{value}}" />{{label}}
            </label>
          </li>
          {{/looking_for}}
        </ul>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="has_children">Has Children</label>
      <div class="controls">
        <ul class="checkbox">
          {{#has_children}}
          <li>
            <label>
              <input {{#selected}}checked="checked"{{/selected}} id="has_children" name="has_children" type="checkbox" value="{{value}}" />{{label}}
            </label>
          </li>
          {{/has_children}}
        </ul>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="wants_children">Wants Children</label>
      <div class="controls">
        <ul class="checkbox">
          {{#wants_children}}
          <li>
            <label>
              <input {{#selected}}checked="checked"{{/selected}} id="wants_children" name="wants_children" type="checkbox" value="{{value}}" />{{label}}
            </label>
          </li>
          {{/wants_children}}
        </ul>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="smokes">Smokes?</label>
      <div class="controls">
        <ul class="checkbox">
          {{#smokes}}
          <li>
            <label>
              <input {{#selected}}checked="checked"{{/selected}} id="smokes" name="smokes" type="checkbox" value="{{value}}" />{{label}}
            </label>
          </li>
          {{/smokes}}
        </ul>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="drinks">Drinks?</label>
      <div class="controls">
        <ul class="checkbox">
          {{#drinks}}
          <li>
            <label>
              <input {{#selected}}checked="checked"{{/selected}} id="drinks" name="drinks" type="checkbox" value="{{value}}" />{{label}}
            </label>
          </li>
          {{/drinks}}
        </ul>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="education">Education</label>
      <div class="controls">
        <ul class="checkbox">
          {{#education}}
          <li>
            <label>
              <input {{#selected}}checked="checked"{{/selected}} id="education" name="education" type="checkbox" value="{{value}}" />{{label}}
            </label>
          </li>
          {{/education}}
        </ul>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="religion">Religion</label>
      <div class="controls">
        <ul class="checkbox">
          {{#religion}}
          <li>
            <label>
              <input {{#selected}}checked="checked"{{/selected}} id="religion" name="religion" type="checkbox" value="{{value}}" />{{label}}
            </label>
          </li>
          {{/religion}}
        </ul>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="minimum_income">Minimum Income</label>
      <div class="controls">
        <select name="minimum_income">
          {{#minimum_income}}
          <option {{#selected}}selected="selected"{{/selected}}>{{label}}</option>
          {{/minimum_income}}
        </select>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <input class="btn" type="submit" value="Save Preferences" />
      </div>
    </div>
  </fieldset>
</form>