        <div class="profile-card profile span6">
			<a href="/Profile/Index2/?ProfileModelID={{ProfileModelID}}"> 
			<div class="profile-img">
				{{#Thumb}}
				<img src="{{Thumb}}">
				{{/Thumb}}
				{{^Thumb}}
					<img src="http://www.placehold.it/150x150">
				{{/Thumb}}
			</div><!-- profile-img -->
			</a>
			<h4>{{UsernameOfReceipient}}</h4>
			{{Height}}<br>
			{{Age}} years<br>
			{{Area}}<br>
		</div>