﻿@model LadiesChoice.ViewModels.CommonViewModel
@{
    ViewBag.Title = "Page not found";
}
@*@Html.RenderPartial("_header");*@
<h2>Sorry, can't find that page!</h2>
<a href="javascript: window.history.back();">Go Back</a>

@*@Html.RenderPartial("_footer");*@
