<form action="/profile" class="form-horizontal" method="POST">
  <fieldset>
    <legend>The Basics</legend>
    <div class="control-group">
      <label class="control-label" for="name">Username</label>
      <div class="controls">
        <input id="name" name="name" type="text" value="{{name}}" />
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="dob">Date of Birth</label>
      <div class="controls controls-row">
        <select class="span3" name="dob_month">
          {{#dob_month}}
          <option {{#selected}}selected="selected"{{/selected}} value="{{value}}">{{label}}</option>
          {{/dob_month}}
        </select>
        <select class="span2" name="dob_day">
          {{#dob_day}}
          <option {{#selected}}selected="selected"{{/selected}}>{{value}}</option>
          {{/dob_day}}
        </select>
        <select class="span4" name="dob_year">
          {{#dob_year}}
          <option {{#selected}}selected="selected"{{/selected}}>{{value}}</option>
          {{/dob_year}} 
        </select>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="area">Area</label>
      <div class="controls">
        <select name="area">
          {{#area}}
          <option {{#selected}}selected="selected"{{/selected}}>{{value}}</option>
          {{/area}}
        </select>
      </div>
    </div>
  </fieldset>
  <fieldset>
    <legend>In your own words..</legend>
    <div class="control-group">
      <label class="control-label" for="description">Description</label>
      <div class="controls">
        <textarea id="description" name="description">
         {{description}}
        </textarea>
      </div>
    </div>
  </fieldset>
  <fieldset>
    <legend>Personal</legend>
    <div class="control-group">
      <label class="control-label" for="height">Height</label>
      <div class="controls">
        <select name="height">
          {{#height}}
          <option {{#selected}}selected="selected"{{/selected}}>{{value}}</option>
          {{/height}}
        </select>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="body_type">Body Type</label>
      <div class="controls">
        <select name="body_type">
          {{#body_type}}
          <option {{#selected}}selected="selected"{{/selected}}>{{value}}</option>
          {{/body_type}}
        </select>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="smokes">Smoker?</label>
      <div class="controls">
        <select name="smokes">
          {{#smokes}}
          <option {{#selected}}selected="selected"{{/selected}}>{{value}}</option>
          {{/smokes}}
        </select>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="drinks">Drinker?</label>
      <div class="controls">
        <select name="drinks">
          {{#drinks}}
          <option {{#selected}}selected="selected"{{/selected}}>{{value}}</option>
          {{/drinks}}
        </select>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="religion">Religion</label>
      <div class="controls">
        <select name="religion">
          {{#religion}}
          <option {{#selected}}selected="selected"{{/selected}}>{{value}}</option>
          {{/religion}}
        </select>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="has_children">Do you have children?</label>
      <div class="controls">
        <select name="has_children">
          {{#has_children}}
          <option {{#selected}}selected="selected"{{/selected}}>{{value}}</option>
          {{/has_children}}
        </select>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="wants_children">Do you want children?</label>
      <div class="controls">
        <select name="wants_children">
          {{#wants_children}}
          <option {{#selected}}selected="selected"{{/selected}}>{{value}}</option>
          {{/wants_children}}
        </select>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="looking_for">Looking For</label>
      <div class="controls">
        <ul class="checkbox">
          {{#looking_for}}
          <li>
            <label>
              <input {{#selected}}checked="checked"{{/selected}} id="looking_for" name="looking_for" type="checkbox" value="{{value}}" />{{label}}
            </label>
          </li>
          {{/looking_for}}
        </ul>
      </div>
    </div>
  </fieldset>
  <fieldset>
    <legend>Professional</legend>
    <div class="control-group">
      <label class="control-label" for="income">Income</label>
      <div class="controls">
        <select name="income">
          {{#income}}
          <option {{#selected}}selected="selected"{{/selected}}>{{value}}</option>
          {{/income}}
        </select>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="education">Education</label>
      <div class="controls">
        <select name="education">
          {{#education}}
          <option {{#selected}}selected="selected"{{/selected}}>{{value}}</option>
          {{/education}}
        </select>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="job">Job</label>
      <div class="controls">
        <input id="job" name="job" type="text" value="{{job}}" />
      </div>
    </div>
  </fieldset>
  <fieldset class="save-button">
    <div class="control-group">
      <div class="controls">
        <input type="submit" value="Save Profile" />
      </div>
    </div>
  </fieldset>
</form>
</div>