﻿<div class="span6">
  <h3>3 Reasons to choose Ladies Choice {{city}}</h3>
  
  <div id="fReasons" {{^IsFemale}}style="display: none" {{/IsFemale}}>
  <ol>
    <li>Only receive messages from guys you're interested in</li>
    <li>
      Only guys that match your preferences will <em>ever</em> see your profile
    </li>
    <li>Take a proactive approach to online dating</li>
  </ol>
  </div>
 

  
  <div id="mReasons" {{#IsFemale}}style="display: none"{{/IsFemale}}>
  <ol>
    <li>No time wasted on women who aren't interested in you</li>
    <li>Women respond to more of your messages</li>
    <li>More time for you to do other things besides online dating!</li>
  </ol>
</div>
  
  <div style="margin-top: 20px; border: 1px solid #eee;">
    <img src="{{PhotoPath}}static/couple_rose.JPG" width="100%" />
  </div>

</div>