<form action="/Home/register" class="form-horizontal" method="POST">
  <fieldset>
    <div class="control-group">
      <label class="control-label" for="gender">Gender</label>
      <div class="controls">
        <select name="gender">
          {{#GenderList}}
          <option {{#selected}}selected="selected"{{/selected}} value="{{value}}">{{label}}</option>
          {{/GenderList}}
        </select>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="username">Username</label>
      <div class="controls">
        <input id="username" name="username" type="text" value="{{username}}"/>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="dob">Date of Birth</label>
      <div class="controls controls-row">
        <select class="span3" name="dob_month">
          <option>Month</option>
          {{#dob_month}}
          <option {{#selected}}selected="selected"{{/selected}} value="{{value}}">{{label}}</option>
          {{/dob_month}}
        </select>
        <select class="span3" name="dob_day">
          <option>Day</option>
          {{#dob_day}}
          <option {{#selected}}selected="selected"{{/selected}} value="{{value}}">{{label}}</option>
          {{/dob_day}}
        </select>
        <select class="span4" name="dob_year">
          <option>Year</option>
          {{#dob_year}}
          <option {{#selected}}selected="selected"{{/selected}} value="{{value}}">{{label}}</option>
          {{/dob_year}}
        </select>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="email">Email</label>
      <div class="controls">
        <input id="email" name="email" type="text" value="{{email}}"/>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="email_repeat">Email, again</label>
      <div class="controls">
        <input id="email_repeat" name="email_repeat" type="text" value="{{email_again}}" />
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="password">Password</label>
      <div class="controls">
        <input id="password" name="password" type="password" value="{{password}}"/>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <input type="submit" value="Create My Profile" />
        <p>
          <small>
            By creating a profile you agree to our <a href="/terms-and-conditions">Terms and Conditions &amp; Privacy Policy</a>
          </small>
        </p>
      </div>
    </div>
  </fieldset>
</form>
