﻿@model LadiesChoice.Models.LocalPasswordModel


@using (Html.BeginForm("Manage", "Account", FormMethod.Post, new { @class = "form-horizontal" } ))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Change Password</legend>
@*        <ol>
            <li>
                @Html.LabelFor(m => m.OldPassword)
                @Html.PasswordFor(m => m.OldPassword)
            </li>
            <li>
                @Html.LabelFor(m => m.NewPassword)
                @Html.PasswordFor(m => m.NewPassword)
            </li>
            <li>
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
            </li>
        </ol>
        <input type="submit" value="Change password" />*@

        <div class="control-group">
            <label class="control-label">Old Password</label>
            <div class="controls">
                @Html.PasswordFor(m => m.OldPassword)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">New Password</label>
            <div class="controls">
                @Html.PasswordFor(m => m.NewPassword)
        </div>
        </div>
        <div class="control-group">
            <label class="control-label">Confirm Password</label>
            <div class="controls">
                @Html.PasswordFor(m => m.ConfirmPassword)
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <input type="submit" value="Change password" class="submit-button btn">
            </div>
        </div>
    </fieldset>
}
