{{>_header}}
    
	<h1>Users you have blocked</h1>
	<p>Blocked users cannot see or message you.</p>
	

        {{#BlockedUsers}}
       
	   <form action="/Account/UnBlock" method="POST">
		<div span="4">
		{{BlockeeUsername}}&nbsp;&nbsp;
        <a  href="/Profile/Index/{{ProfileModelID}}">view profile</a>
		            <input type="hidden" name="blockeeID" value="{{BlockeeUserID}}">&nbsp;
		<a  href="/Account/Unblock/?blockeeID={{BlockeeUserID}}">unblock</a>
		
		</div>
		{{/BlockedUsers}}
		{{^BlockedUsers}}
		<p><br>You haven't blocked any users yet.</p>
		{{/BlockedUsers}}
{{>_footer}}
