﻿@model LadiesChoice.ViewModels.DeleteMyAccountModel

@{
    ViewBag.Title = "Delete";
}

<h3>Are you sure you want to delete your account?</h3>
@if (Model.HasCardSaved) {
    <p>If you do, please <a href="/Account/ManagePaymentOptions">delete your saved credit card first.</a></p>
}
else {
    using (Html.BeginForm("DeleteConfirmed", "Account", FormMethod.Post)) {
        @Html.AntiForgeryToken()
    <fieldset>
        <legend>Tell us about your experience</legend>

        <div class="display-label">
             @Html.Label("Is there anything that would have made your experience better?")
        </div>
        <div class="display-field">
            @Html.TextArea("SuggestionsForImprovement")
        </div>

        <div class="display-label">
             @Html.Label("Why are you deleting your account?")
        </div>
        <div class="display-field">
            @Html.TextArea("Why")
        </div>

    </fieldset>

        <p>
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Back to My Account", "MyAccount")
        </p>
    }
}
