<h2>Forgotten Password?</h2>
    <form class="form form-horizontal" action="/Account/ForgotPassword" method="post">
        @Html.AntiForgeryToken()
        <fieldset>
            <div class="control-group">
                <label class="control-label">Enter your email address</label>
                <div class="controls">
                    <input type="email" name="Email">
                </div>
            </div>

            <div class="control-group">
                <div class="controls">
                    <input type="submit" class="btn">
                </div>
            </div>
         </fieldset>
    </form>
