﻿@model LadiesChoice.Models.LoginViewModel

@{
    ViewBag.Title = "Log in";
}

@*<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>*@

<section id="loginForm">
@using (Html.BeginForm("Login","Account",new { ReturnUrl = ViewBag.ReturnUrl}, FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Log In</legend>
                
        <div class="control-group">
            <label class="control-label">Email Address</label>
            <div class="controls">
                @Html.TextBoxFor(m => m.LoginUserName)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Password</label>
            <div class="controls">
                @Html.PasswordFor(m => m.Password)
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <input type="submit" value="Log In" class="submit-button btn">
            </div>
        </div>
        
    </fieldset>
    <p>
        @Html.ActionLink("Register", "Register") if you don't have an account.
    </p>
        <p>
        @Html.ActionLink("Forgot your password?", "ForgotPassword") if you don't have an account.
    </p>

    
}
</section>

@*<section class="social" id="socialLoginForm">
    <h2>Use another service to log in.</h2>
    @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
</section>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
