﻿@model LadiesChoice.Models.LocalPasswordModel
@{
    ViewBag.Title = "Manage Account";
}

@*<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>*@

<p class="message-success">@ViewBag.StatusMessage</p>

@*<p>You're logged in as <strong>@User.Identity.Name</strong>.</p>*@

@Html.Partial("_ChangePasswordPartial")

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
