{{>_header}}


<h1>My Account</h1>



<div class="edit-account">

	<section>
		<h3>Manage Your Account</h3>

        <div id="changepassword">
        
		<p><a href="/Account/Manage">Change your password</a></p>
		<p><a href="/Account/BlockedUsers">View users you've blocked</a></p>
		{{#HasSavedCard}}
		<p><a href="/Account/ManagePaymentOptions">Manage payment options</a></p>
		{{/HasSavedCard}}
        </div>
    </section>

    <section>
	<h3>Mail Settings</h3>
        <div id="mail_options">
		
        <form action="/Account/SaveMailSettings" method="post">
				<p><input {{^SurpressNewMessageEmails}}checked="checked"{{/SurpressNewMessageEmails}} id="sendNewMessages" name="sendNewMessages" type="checkbox" value="true" class="edit-account-mailcheckbox">
				Let me know about new messages

		<p><input {{^SurpressReEngagementEmails}}checked="checked"{{/SurpressReEngagementEmails}} id="sendNewMatches" name="sendNewMatches" type="checkbox" value="true" class="edit-account-mailcheckbox">

Let me know about new matches
</p>
            <fieldset>
               <div class="control-group">
                    <div>
						
						<input type="submit" class="btn" value="Save Mail Settings">
                    </div>
                </div>
            </fieldset>
			</form>
        </div>
    </section>

    <section class="delete-account">
        <h3>Account Status</h3>
        {{#Disabled}}
        <p>
            {{#IsFemale}}
            Your account is disabled. You cannot send or receive messages, and will not show up in searches.
            {{/IsFemale}}

            {{^IsFemale}}
            Your account is disabled. You cannot send or receive messages.
            {{/IsFemale}}
        </p>
        <form action="/Account/Enable" method="post">
            <fieldset>
            <div class="control-group">
                <div>
                    <input type="submit" class="btn btn-info" value="Enable Profile">
                </div>
				<p>
					<a href="/Account/Delete">Delete Account</a>
                </p>
            </div>
			<br>
            </fieldset>
        </form>
        {{/Disabled}}
        {{^Disabled}}

        <p>
        {{#IsFemale}}
            We hate to see you go, but we understand. Disabling your account will prevent you from receiving or sending messages.</p>
        {{/IsFemale}}
        {{^IsFemale}}
            We hate to see you go, but we understand. Disabling your account will prevent you from showing up in searches and receiving or sending messages.</p>
        {{/IsFemale}}
        </p>
        <form action="/Account/Disable" method="post">
            <fieldset>
               <div class="control-group">
                    <div>
                        <input type="submit" class="btn" value="Disable Profile">
                    </div>
                </div>
            </fieldset>
        </form>
        {{/Disabled}}
    </section>
</div>

{{>_footer}}
