@model LadiesChoice.ViewModels.PasswordResetViewModel

<h2>Password reset</h2>
    <form class="form form-horizontal" action="/Account/PasswordReset" method="post">
		        @Html.AntiForgeryToken()
                @Html.ValidationSummary()
        <input type="hidden" name="token" value="@Model.Token">
        <fieldset>
            <div class="control-group">
                <label class="control-label">New Password</label>
                <div class="controls">
                    <input type="password" name="Password">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">New Password, Again</label>
                <div class="controls">
                    <input type="password" name="ConfirmPassword">
                </div>
            </div>

            <div class="control-group">
                <div class="controls">
                    <input type="submit" value="Submit" class="btn">
                </div>
            </div>
         </fieldset>
    </form>