@model LadiesChoice.ViewModels.RegisterProfileViewModel
@{
    ViewBag.Title = "Register";
}
<div class="row-fluid">
       <div class="span6">
    <h1>Register now!</h1>
@using (Html.BeginForm((string)ViewBag.FormAction, "Account",FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(false)
    <div class="register-fields">
        <fieldset>
            <legend>Account Information</legend>
            <div class="control-group">
                @Html.LabelFor(model => model.Gender, new {@class="control-label"})
                @Html.DropDownListFor(model => model.Gender, Model.GenderList, "-", new { onchange="updateReasons(this.value);" })
@*                @Html.ValidationMessageFor(model => model.Gender) *@
            </div>
            <div class="control-group">
                @Html.LabelFor(m => m.BirthDate, new {@class="control-label"})
                <div class="birth-date-dds">
                @Html.DropDownListFor(model => model.BirthDate.Year, Model.YearList)
                @Html.DropDownListFor(model => model.BirthDate.Month, Model.MonthList)
                @Html.DropDownListFor(model => model.BirthDate.Day, Model.DayList)
                </div>           
            </div>
            <div class="control-group">
                @Html.LabelFor(m => m.RequestedUserName, new {@class="control-label"})
                <div>
                @Html.TextBoxFor(m => m.RequestedUserName)
                    </div>
@*                @Html.ValidationMessageFor(m => m.RequestedUserName)*@
            </div>
            <div class="control-group">
                @Html.LabelFor(m => m.Email, new {@class="control-label"})
                @Html.TextBoxFor(m => m.Email)
@*                @Html.ValidationMessageFor(m => m.Email)*@
            </div>           
            <div class="control-group">
                @Html.LabelFor(m => m.EmailAgain, new {@class="control-label"})
                @Html.TextBoxFor(m => m.EmailAgain)
@*                @Html.ValidationMessageFor(m => m.EmailAgain)*@
            </div>
            <div class="control-group">
                @Html.LabelFor(m => m.Password, new {@class="control-label"})
                @Html.PasswordFor(m => m.Password)
@*                @Html.ValidationMessageFor(m => m.Password)*@
            </div>
          <div class="control-group">
              <div class="control-label"></div>
              <div>
                <input type="submit" value="Create My Profile" class="btn btn-success" />
               
              </div>
            </div>
            <div class="control-group">
              
              <div>
                  <small>
                    By creating a profile you agree to our <a href="/Home/termsandconditions">Terms and Conditions &amp; Privacy Policy</a>
                  </small>
              </div>
            </div>
        </fieldset>
        </div>
    }
    </div>
     @Html.Partial("ReasonsToChoosePartial")
      </div>
<script type="text/javascript">
    function updateReasons(g) {
        if (g == 0) {
            document.getElementById('mReasons').style.display = 'inline';
            document.getElementById('fReasons').style.display = 'none';
        }
        if (g == 1) {
            document.getElementById('fReasons').style.display = 'inline';
            document.getElementById('mReasons').style.display = 'none';
        }
    }
</script>

