@model LadiesChoice.ViewModels.RegisterProfileViewModel
@{
    ViewBag.Title = "Register";
}
<div class="row-fluid">
       <div class="span6">
    <h2>Register now!</h2>
@using (Html.BeginForm((string)ViewBag.FormAction, "Account",FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

        <fieldset>
            <legend>Account Information</legend>
            <div class="control-group">
                @Html.LabelFor(model => model.Gender, new {@class="control-label"})
                @Html.DropDownListFor(model => model.Gender, Model.GenderList, new {@class="controls"})
                @Html.ValidationMessageFor(model => model.Gender) 
            </div>
            <div class="control-group">
                @Html.LabelFor(m => m.BirthDate, new {@class="control-label"})
      
                <div class="controls controls-row">
                @Html.DropDownListFor(model => model.BirthDate.Year, Model.YearList, new {@class="span3"})
                @Html.DropDownListFor(model => model.BirthDate.Month, Model.MonthList, new {@class="span3"})
                @Html.DropDownListFor(model => model.BirthDate.Day, Model.DayList, new {@class="span2"})
                @Html.ValidationMessageFor(model => model.BirthDate)
                </div>           
            </div>
            <div class="control-group">
                @Html.LabelFor(m => m.RequestedUserName, new {@class="control-label"})
                @Html.TextBoxFor(m => m.RequestedUserName, new {@class="controls"})
                @Html.ValidationMessageFor(m => m.RequestedUserName)
            </div>
            <div class="control-group">
                @Html.LabelFor(m => m.Email, new {@class="control-label"})
                @Html.TextBoxFor(m => m.Email, new {@class="controls"})
                @Html.ValidationMessageFor(m => m.Email)
            </div>           
            <div class="control-group">
                @Html.LabelFor(m => m.EmailAgain, new {@class="control-label"})
                @Html.TextBoxFor(m => m.EmailAgain, new {@class="controls"})
                @Html.ValidationMessageFor(m => m.EmailAgain)
            </div>
            <div class="control-group">
                @Html.LabelFor(m => m.Password, new {@class="control-label"})
                @Html.PasswordFor(m => m.Password, new {@class="controls"})
                @Html.ValidationMessageFor(m => m.Password)
            </div>
          <div class="control-group">
              <div class="controls">
                <input type="submit" value="Create My Profile" />
                <p>
                  <small>
                    By creating a profile you agree to our <a href="/terms-and-conditions">Terms and Conditions &amp; Privacy Policy</a>
                  </small>
                </p>
              </div>
            </div>
        </fieldset>
    }
    </div>
    <div class="span5">
        <div>
        <h1>Ladies Choice @Model.city</h1> is an online dating service with a twist: <strong>only women</strong> can initiate contact.
        <p>This means <strong>more choice</strong> for women, and <strong>less wasted time</strong> for men.</p>
        </div>
        <div>
          <h3>3 Reasons to choose Ladies Choice @Model.city</h3>  
          <ol>
            <li>No time wasted on women who aren't interested in you</li>
            <li>Women respond to more of your messages</li>
            <li>More time for you to do other things besides online dating!</li>
          </ol>
        </div>
</div>
    <div class="span8">
            <h3>How it works</h3>
            <div class="row-fluid">
                <div class="span6">
                    <h4>Ladies</h4>
                    <ol>
                        <li><a href="/Account/Register">Create a bio</a> and set your match preferences</li>
                        <li>Have a glass of wine and <a href="/MyMatches">browse profiles</a></li>
                        <li>Send a wink or message to men you're interested in</li>
                    </ol>
                </div>
                <div>
                    <h4>Guys</h4>
                    <ol>
                        <li><a href="/Account/Register">Create a bio</a> and set your match preferences</li>
                        <li>Chillax, broseph!</li>
                        <li>Respond to messages</li>
                    </ol>
		            <p>Men can read messages for free and pay a one time fee per woman they choose to respond to.  Women can send messages for free and pay a one time fee per man to read messages from him.</p>
                </div>
            </div>
        </div>