﻿@model LadiesChoice.ViewModels.RegisterProfileViewModel

@{
    ViewBag.Title = "RegisterProfileView";
}

<div class="row-fluid">
<div class="span6">
    <h2>Register now!</h2>

@using (Html.BeginForm("RegisterProfileView", "Account", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <div class="control-group">
                @Html.LabelFor(model => model.ProfileModel.Gender, new {@class="control-label"})
                @Html.DropDownListFor(model => model.ProfileModel.Gender, Model.ProfileModel.GenderList, new {@class="controls"})
                @Html.ValidationMessageFor(model => model.ProfileModel.Gender) 
            </div>
            <div class="control-group">
                @Html.LabelFor(m => m.RegisterModel.UserName, new {@class="control-label"})
                @Html.TextBoxFor(m => m.RegisterModel.UserName, new {@class="controls"})
            </div>
            <div class="control-group">
                @Html.LabelFor(m => m.ProfileModel.BirthDate, new {@class="control-label"})
                @Html.Partial("DateSelector_DropdownList")
            </div>
            <div class="control-group">
                @Html.LabelFor(m => m.RegisterModel.Email, new {@class="control-label"})
                @Html.TextBoxFor(m => m.RegisterModel.Email, new {@class="controls"})
            </div>
            <div class="control-group">
                @Html.LabelFor(m => m.RegisterModel.EmailAgain, new {@class="control-label"})
                @Html.TextBoxFor(m => m.RegisterModel.EmailAgain, new {@class="controls"})
            </div>
            <div class="control-group">
                @Html.LabelFor(m => m.RegisterModel.Password, new {@class="control-label"})
                @Html.PasswordFor(m => m.RegisterModel.Password, new {@class="controls"})
            </div>
            <div class="control-group">
              <div class="controls">
                <input type="submit" value="Create My Profile" />
                <p>
                  <small>
                    By creating a profile you agree to our <a href="/terms-and-conditions">Terms and Conditions &amp; Privacy Policy</a>
                  </small>
                </p>
              </div>
            </div>
    </fieldset>
}
</div>

    @Html.Partial("ReasonsToChoosePartial")

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
