﻿@model LadiesChoice.Models.ProfileModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>ProfileModel</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.userID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.userID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.area.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.area.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Job)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Job)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.email)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.email)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Smokes)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Smokes)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Drinks)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Drinks)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LookingFor)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LookingFor)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Education)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Education)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Gender)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Gender)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ProfileModelID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
