﻿@using LadiesChoice.Utilities
@model LadiesChoice.ViewModels.EditProfileViewModel

@{
    ViewBag.Title = "Edit Profile";
}
@if (Model.ShowMenu) {
<h1>Edit Profile</h1>
}
else {
<h1>Create your profile</h1>
}
<div class="edit-profile">

@using (Html.BeginForm((string)ViewBag.FormAction, "Profile", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    @Html.HiddenFor(model => model.ProfileModelID)
        if (Model.IsFemale) { 
        <fieldset>
    <legend>Who should see your profile?</legend>
         <div class="control-group">
            
            <div class="pf-visbility">
                Make my profile visible to:
                <br />
                <br />                       
                @Html.RadioButtonFor(model => model.VisibleToMatches, true) <b>My matches</b>  (Men can wink but can only message you after you message or wink him)
                <br /><br />
                @Html.RadioButtonFor(model => model.VisibleToMatches, false) <b>Guys I send messages / winks to</b>
            </div>
               
             @*
            else {
            <div class="pf-visbility">
                Make your profile visible to:
                <br />                      
                @Html.RadioButtonFor(model => model.BizzaroVisibility, false) All ladies
                <br />
                @Html.RadioButtonFor(model => model.BizzaroVisibility, true) Only ladies you've winked at / messaged (Bizzaro Ladies Choice!)
            </div>
            }*@
             </div>
    </fieldset>
    
        }
        <fieldset>
    <legend>Personal</legend>
       <div class="control-group">
            @Html.LabelFor(model => model.Height, new {@class="control-label"})
            <div class="controls">            
                @Html.DropDownList("Height", Model.HeightList)
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(model => model.Smokes, new {@class="control-label"})
            <div class="controls">            
                @Html.DropDownListFor(model => model.Smokes, Model.SmokesList)
            </div>
        </div>
         <div class="control-group">
            @Html.LabelFor(model => model.BodyType, new {@class="control-label"})
            <div class="controls">            
                @Html.DropDownListFor(model => model.BodyType, Model.BodyTypeList)
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(model => model.Drinks, new {@class="control-label"})
            <div class="controls">            
                @Html.DropDownListFor(model => model.Drinks, Model.DrinksList)
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(model => model.Religion, new {@class="control-label"})
            <div class="controls">            
                @Html.DropDownListFor(model => model.Religion, Model.ReligionList)
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(model => model.HaveChildren, new {@class="control-label"})
            <div class="controls">            
                @Html.DropDownListFor(model => model.HaveChildren, Model.HaveChildrenList)
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(model => model.WantChildren, new {@class="control-label"})
            <div class="controls">            
                @Html.DropDownList("WantChildren", Model.WantChildrenList)
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(model => model.LookingFor, new {@class="control-label"})
            <div class="controls">            
                
                
                @Html.CheckBoxesForEnumFlagsFor(model => model.LookingFor, "checkbox")
                
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(model => model.areaID, new {@class="control-label"})
            @*@Html.DropDownListFor(model => model.areaID, Model.area, new { @class = "controls" })*@
            <div class="controls">            
                @Html.DropDownList("areaID", "Unspecified")
            </div>
            <div class="controls">  
               @Html.ValidationMessageFor(model => model.areaID)
                 </div>
        </div>
        
          </fieldset>


    <fieldset>
    <legend>In your own words..</legend>
        <div class="control-group">
            @Html.LabelFor(model => model.Description, new {@class="control-label"})
            <div class="controls">            
                @Html.TextAreaFor(model => model.Description)
            </div>
             <div class="controls">  
               @Html.ValidationMessageFor(model => model.Description)
                 </div>
            <br />
            @Html.LabelFor(model => model.Hobbies, new {@class="control-label"})
            <div class="controls">            
                @Html.TextAreaFor(model => model.Hobbies)
            </div>
             <div class="controls">  
               @Html.ValidationMessageFor(model => model.Hobbies)
                 </div>
            <br />
            @if (Model.ShowMenu) {
            @Html.LabelFor(model => model.ValueInAPartner, new {@class="control-label"})
            <div class="controls">            
                @Html.TextAreaFor(model => model.ValueInAPartner)
            </div>
            <br />
            @Html.LabelFor(model => model.TVShows, new {@class="control-label"})
            <div class="controls">            
                @Html.TextAreaFor(model => model.TVShows)
            </div>
            <br />
            @Html.LabelFor(model => model.ExtraQuestion1, new {@class="control-label"})
            <div class="controls">            
                @Html.TextAreaFor(model => model.ExtraQuestion1)
            </div>
            <br />
            <label class="control-label">Things I like about living in @Model.city include...</label>
            <div class="controls">            
                @Html.TextAreaFor(model => model.WhatILikeAboutMyCity)
            </div>
            }
        </div>
    </fieldset> 
  <fieldset>
    <legend>Professional</legend>
      <div class="control-group">
            @Html.LabelFor(model => model.Education, new {@class="control-label"})
            <div class="controls">              
                @Html.DropDownList("Education", Model.EducationList, "Not Specified")
            </div>
          <div class="controls">  
                               @Html.ValidationMessageFor(model => model.Education)
                 </div>
        </div>
      <div class="control-group">
            @Html.LabelFor(model => model.Income, new {@class="control-label"})
            @*@Html.DropDownListFor(model => model.Income, Model.IncomeList, new {@class="controls"})*@
@*            @Html.DropDownList("as", LadiesChoice.Utilities.EnumExtensions.ToSelectList<LadiesChoice.Utilities.Enums.Income>((LadiesChoice.Utilities.Enums.Income)model => model.Income), new {@class="controls"})*@
            <div class="controls">            
@*                @Html.DropDownList("Income", Model.IncomeList)*@
@*                                @Html.DropDownList("IncomeList", "Unspecified")*@
                                @Html.DropDownListFor(model => model.Income, Model.IncomeList, "Not Specified")

            </div>
          <div class="controls">  
                               @Html.ValidationMessageFor(model => model.Income)
                 </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(model => model.Job, new {@class="control-label"})
            <div class="controls">            
               @Html.EditorFor(model => model.Job)
            </div>
            <div class="controls">  
               @Html.ValidationMessageFor(model => model.Job)
                 </div>
        </div>
        
        </fieldset>
    
    if (Model.ShowMenu) {
       <fieldset>
    <legend>The Basics</legend>
    <div class="control-group">
            @Html.LabelFor(model => model.EmailAndUsernameUserProfile.UserName, new {@class="control-label"})
            <div class="controls">            
                @Html.EditorFor(model => model.EmailAndUsernameUserProfile.UserName)
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(model => model.EmailAndUsernameUserProfile.Email, new {@class="control-label"})
            <div class="controls">            
                @Html.EditorFor(model => model.EmailAndUsernameUserProfile.Email, new {@class="controls"})
            </div>
        </div>
        <div class="control-group">
                @Html.LabelFor(m => m.BirthDateComposite, new {@class="control-label"})       
                <div class="controls controls-row">
                    @Html.DropDownListFor(model => model.BirthDateComposite.Year, Model.YearList, new {@class="span3"})
                    @Html.DropDownListFor(model => model.BirthDateComposite.Month, Model.MonthList, new {@class="span4"})
                    @Html.DropDownListFor(model => model.BirthDateComposite.Day, Model.DayList, new {@class="span3"})
                </div>           
            </div>
        <div class="control-group">
            @Html.LabelFor(model => model.Gender, new {@class="control-label"})
            <div class="controls">            
                @Html.DropDownListFor(model => model.Gender, Model.GenderList)
            </div>
        </div>
        
        
       </fieldset> 
}
else { //don't show these fields for new members (they just filled them out on the registration page!)
    @Html.HiddenFor(model => model.EmailAndUsernameUserProfile.UserName)    
    @Html.HiddenFor(model => model.EmailAndUsernameUserProfile.Email)
    @Html.HiddenFor(model => model.BirthDateComposite.Year)
    @Html.HiddenFor(model => model.BirthDateComposite.Month)
    @Html.HiddenFor(model => model.BirthDateComposite.Day)
    @Html.HiddenFor(model => model.Gender)
    @Html.HiddenFor(model => model.ShowMenu)
    <!-- Google Code for New Signup Conversion Page -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 990651130;
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "ffffff";
var google_conversion_label = "bdFWCM6HhwkQ-sWw2AM";
var google_conversion_value = 0;
var google_remarketing_only = false;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/990651130/?value=0&amp;label=bdFWCM6HhwkQ-sWw2AM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>
}
    
  <fieldset class="save-button">
        <div class="control-group">
            <div class="controls">   
                <input type="submit" value="Save Profile" class="btn btn-success" />
            </div>
        </div>
    </fieldset>
        @Html.ValidationSummary()

}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
</div>