﻿@model IEnumerable<LadiesChoice.Models.ProfileModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<p>
    @Html.ActionLink("Edit My Profile", "EditProfile")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.userID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.area.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Job)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Smokes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Drinks)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LookingFor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Education)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.userID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.area.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Job)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Smokes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Drinks)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LookingFor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Education)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gender)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ProfileModelID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ProfileModelID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ProfileModelID })
        </td>
    </tr>
}

</table>
