﻿@model LadiesChoice.ViewModels.MyProfileViewModel

@{
    ViewBag.Title = "My Profile";
}


<div class="context-menu">

    @*<h3 class="ui-narrow-only">@Html.DisplayFor(model => model.Username)</h3>*@

    <a class="btn" href="/Profile/EditProfile">Edit Profile</a>



    <div style="clear: both;">&nbsp;</div>
</div>
<h1>@Html.DisplayFor(model => model.Username)</h1>
@*        <h3 class="ui-wide-only">@Html.DisplayFor(model => model.Username)</h3>*@
<div class="row-fluid profile">
    <!-- Photo -->
    <div class="span8">
        <div class="profile-img">
            <a href="/Photo/MyPhotos">
                @if (Model.NumMorePhotos >= 0)
                {
                    <img src="@Html.DisplayFor(model => model.MainPhoto)" style="float: left; margin-right: 10px;"><br>
                    if (Model.NumMorePhotos > 0)
                    {
                    @Html.DisplayFor(model => model.NumMorePhotos) 
                    @Html.Raw(" more photos(s)")
                    }
                }
                else
                {
                        
                    <img src="/Content/images/placeholder.png" style="float: left; margin-right: 10px;" />
                        
                }
            </a>
                
        </div>
        <div class="span6 profile-header">
                <table class="table">
                    
                    <tr>
                        <th>Age:</th>
                        <td>@Model.Age</td>
                    </tr>
                    <tr>
                        <th>Height:</th>
                        <td>@Model.Height</td>
                    </tr>
                    <tr>
                        <th>Area:</th>
                        <td>@Model.area</td>
                    </tr>
                    <tr>
                        <th>Looking For?</th>
                        <td>@Model.LookingFor</td>
                    </tr>
                </table>

            </div>
        <div class="profile-description">
        
            @Html.Raw(Model.Description)
 
        </div>
               @if (Model.Hobbies != null) {
            <div class="profile-description">
            <h3>Things I enjoy in my spare time</h3>
            @Html.Raw(Model.Hobbies)
            </div>
        }
        @if (Model.ValueInAPartner != null) {
            <div class="profile-description">
            <h3>Things that are important to me</h3>
            @Html.Raw(Model.ValueInAPartner)
            </div>
        }
        @if (Model.TVShows != null) {
            <div class="profile-description">
            <h3>TV shows, movies, music I enjoy</h3>
            @Html.Raw(Model.TVShows)
            </div>
        }
        @if (Model.ExtraQuestion1 != null) {
            <div class="profile-description">
            <h3>You should contact me if</h3>
            @Html.Raw(Model.ExtraQuestion1)
            </div>
        }
        @if (Model.WhatILikeAboutMyCity != null) {
            <div class="profile-description">
            <h3>What I like about living in @Model.city</h3>
            @Html.Raw(Model.WhatILikeAboutMyCity)
            </div>
        }
    </div>


@*<div class="span4">

                    <div class="profile-header">
                        <table class="table">
                            <tr><th>Height:</th> <td>{{height}}</td></tr>
                            <tr><th>Age:</th> <td>{{age}}</td></tr>
                            <tr><th>Area:</th> <td>@Html.DisplayFor(model => model.area)</td></tr>
                            <tr><th>Looking For?</th><td>{{looking_for}}</td></tr>
                        </table>

                    </div><!-- profile-header -->
                </div><!-- span4 -->

                <div class="span4 profile-details">
                    <table class="table">
                        <tr><th>Smokes?</th> <td>{{smokes}}</td></tr>
                        <tr><th>Drinks?</th> <td>{{drinks}}</td></tr>
                        <tr><th>Religion</th> <td>{{religion}}</td></tr>
                        <tr><th>Income</th> <td> {{income}}</td></tr>
                        <tr><th>Education</th> <td>{{education}}</td></tr>
                        <tr><th>Job</th> <td>@Html.DisplayFor(model => model.Job)</td></tr>
                    </table>
                </div><!-- profile-details -->

            </div><!-- row-fluid -->

                <div class="profile-description">
                    <h3>About Me</h3>
                    @Html.DisplayTextFor(model => model.Description)
                </div>*@

@Html.Partial("MainProfileAttributesPartial")
    </div>