﻿@model LadiesChoice.ViewModels.ViewProfileViewModel

@{
    ViewBag.Title = "View Profile";
}


@*   <div class="context-menu">

        <h3 class="ui-narrow-only">@Html.DisplayFor(model => model.UsernameOfProfile)</h3>

        <a class="btn btn-success message-link" href="/Message/?ProfileModelID=@Model.ProfileModelID">Send a message</a>
        @if (Model.IsFemale) {
        <form action="/Message" method="post">
            @Html.AntiForgeryToken()
            <input type="hidden" name="UserIDOfRecipient" value="@Model.UserIDOfProfile">
            <input type="hidden" name="MessageText" value="You received a wink from @Model.Username! Send her a message!">
            <input title="Let him know I'm interested" class="wink-btn btn" type="submit" value="Wink">
        </form>
        }

    <div style="clear: both;">&nbsp;</div>
</div>*@

<h1>@Html.DisplayFor(model => model.UsernameOfProfile)</h1>
<div class="row-fluid profile">
    <!-- Photo -->
    <div class="span8">
        <div class="profile-img">
            <a href="/Photo/ViewPhotos/?ProfileModelID=@Model.ProfileModelID">
                @if (Model.NumMorePhotos >= 0)
                {
                    <img src="@Html.DisplayFor(model => model.MainPhoto)" style="float: left; margin-right: 10px;"><br>
                    if (Model.NumMorePhotos > 0)
                    {
                    @Html.DisplayFor(model => model.NumMorePhotos) 
                    @Html.Raw(" more photo(s)")
                    }
                }
                else
                {
                        
                    <img src="/Content/images/placeholder.png" style="float: left; margin-right: 10px;" />
                        
                }
            </a>
        </div>
        <div class="span6 profile-header">
            <table class="table">

                <tr>
                    <th>Age:</th>
                    <td>@Model.Age</td>
                </tr>
                <tr>
                    <th>Height:</th>
                    <td>@Model.Height</td>
                </tr>
                <tr>
                    <th>Area:</th>
                    <td>@Model.area</td>
                </tr>
                <tr>
                    <th>Looking For?</th>
                    <td>@Model.LookingFor</td>
                </tr>
            </table>

        </div>
        <div class="row-fluid">
            <div class="new-message">
                @using (Html.BeginForm("Index", "Message"))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
               
                    <input type="hidden" name="UserIDOfRecipient" value="@Model.UserIDOfProfile">
                    <input type="hidden" name="SendingFromProfile" value="true">
                    <input type="hidden" id="ProfileModelIDOfRecipient" name="ProfileModelIDOfRecipient" value="@Model.ProfileModelID">

                    if (Model.HasSentBefore || Model.IsFemale || (Model.HasRecievedBefore))
                    {
                    //if (Model.HasSentBefore || Model.IsFemale || (Model.HasRecievedBefore && Model.CanSend))
                    //{
                    
                        //if (Model.IsFemale || Model.HasSentBefore)
                        //{            
                            <textarea id="MessageTxt" name="MessageText"></textarea>
                            <input type="submit" class="btn btn-success" value="Send Message" />
                        }
                        @*
                        else
                        {
                            if (Model.HasRecievedBefore && Model.CanSend && !Model.HasSentBefore)
                            {               
                                <div>
                                <input type="submit" class="btn btn-success" value="Send Message (@Model.CreditCostToMessage credits)" />
                                        <div class="fee-explain"><p>Credits are only needed for your first message to a lady.  After that it's free.  If it doesn't work out and you never meet her in person, let us know, we'll give you your credits back!</p></div>
                                </div>
                            }

                        }
                    }
                    *@<input type="hidden" name="Action" id="Action" />        
                    <div class="profile-guywink">                    
                    @if (Model.IsFemale)
                    {
                    <input title="Let him know I'm interested" class="wink-btn btn" onclick="document.getElementById('Action').value = 'Wink';" type="submit" value="Wink">
                    }
                    else
                    {
                        if (!Model.HasRecievedBefore)
                        {
                            if (!Model.HasWinkedBefore)
                            {                    
                                <input title="Let her know I'm interested" class="btn" onclick="document.getElementById('Action').value = 'GWink';" type="submit" value="Wink">
                            }
                            else
                            {
                                if (Model.WinkDateString != null)
                                {
                                <p><b>Wink sent @Model.WinkDateString</b></p>
                                }
                            }
                        }

                    }
                        @*<div>
                            <input class="btn btn-primary" type="button" value="Send a Gift..." onclick="window.location = '/Message/ChooseGift/' + document.getElementById('ProfileModelIDOfRecipient').value + '?FPP=true'">
                        </div>*@
                    </div>
                }
                
            </div>
        </div>
        <div class="profile-description">
            @Html.Raw(Model.Description)
        </div>
        @if (Model.Hobbies != null)
        {
            <div class="profile-description">
            <h3>Things I enjoy in my spare time</h3>
            @Html.Raw(Model.Hobbies)
            </div>
        }
        @if (Model.ValueInAPartner != null)
        {
            <div class="profile-description">
            <h3>Things that are important to me</h3>
            @Html.Raw(Model.ValueInAPartner)
            </div>
        }
        @if (Model.TVShows != null)
        {
            <div class="profile-description">
            <h3>TV shows, movies, music I enjoy</h3>
            @Html.Raw(Model.TVShows)
            </div>
        }
        @if (Model.ExtraQuestion1 != null)
        {
            <div class="profile-description">
            <h3>You should contact me if</h3>
            @Html.Raw(Model.ExtraQuestion1)
            </div>
        }
        @if (Model.WhatILikeAboutMyCity != null)
        {
            <div class="profile-description">
            <h3>What I like about living in @Model.city</h3>
            @Html.Raw(Model.WhatILikeAboutMyCity)
            </div>
        }
    </div>

    @Html.Partial("MainProfileAttributesPartial")
    <div class="block-btn">
       <a href="/Account/Block/@Model.ProfileModelID">block</a> | <a href="/Profile/Report/@Model.ProfileModelID">report</a>
    </div>
</div>
      <script src="/Scripts/lcv.js" type="text/javascript" defer="defer"></script>
