﻿.container{
    position: relative;
}

.hero-unit{
    background-color: #ccc;
    background-size: auto;
    left: 0px;
    right: 0px;
    width: auto;
    background: url('/Content/Vancouver/frontpage.jpg')  no-repeat 0px -250px;
    background-size: 100%;
}
.hero-unit header .inner{
    background: transparent;
}

.profile-link{
    background: transparent;
}

.ui-narrow-only{
    display: none;
}

.ui-wide-only{
    display: normal;
}
.navbar-inner{
    padding: 10px;
    background-color: #a4e5e4;
    background-image: none;
    border-bottom: 1px solid #fff;
    line-height: 40px;
    filter: initial;
}

.messages textarea {
width: 495px;
}