﻿@media(max-width: 994px){
    .ui-narrow-only{ display: auto; }
    .ui-wide-only{ display: none; }
}
@media(min-width: 995px){
    .ui-wide-only{ display: auto; }
    .ui-narrow-only{ display: none; }
}

body{
    background: #fff url('/Content/images/arches.png') repeat top left;
    background: #fff url('/Content/images/teal-arches.png') repeat top left;
}

.leaderboard-ads{
    width: 728px;
    margin: 20px auto;
}

.ad_250x250{
    margin-top: 20px;
}

.container{
    padding: 20px;
}

.container.main{
    background: #fff;
    box-shadow: 0px 5px 15px 0 #bbb;
}
dl{
    margin: 0px;
}

/**************************************************
 * Navbar
 */

.navbar{
}
/*.navbar-inner{
    padding: 10px;
    background-color: #a4e5e4;
    background-image: none;
    background: rgb(164, 229, 228);
    border-bottom: 1px solid #fff;
    line-height: 40px;
    background: #000000;
}*/

.navbar-inner{
    padding: 10px;
    background-color: #a4e5e4;
    background-image: none;
    border-bottom: 1px solid #fff;
    line-height: 40px;
}

h1.logo{
    margin: 0px;
    position: relative;
    float: left;
    text-indent: -9999px;
    /*width: 470px;*/
    width: 530px;
    line-height: 30px;
    height: 40px;
    margin-left: 20px;
    background: url('/Content/Vancouver/logo.png') no-repeat 0px 5px; 
}

.navbar-inner h1 a{
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.navbar-controls{
    line-height: 40px;
    text-align: right;
    margin-right: 20px;
}

.navbar .btn{
    margin-top: 0px;
    display: inline;
}
.navbar-form {
    width: 400px;
    float: right;
}
.navbar-form:before, .navbar-form:after{
    display: inline;
}
.navbar-form input, .navbar-form button, .navbar-form select{
    margin-top: 0px;
    display: inline;
}

.navbar-controls form{
    display: inline;
}
.navbar-form-txt{
        width: 140px;
}

.nav-pills-box li a {
padding-right: 0px;
}

@media(min-width: 1200px){
    .navbar-controls{
        padding: 0px;
        position: absolute;
        line-height: 60px;
        top: 0px;
        width: 600px;
        right: 0px;
    }
    .navbar input, .navbar button, .navbar .btn{
        display: inline;
    }
    

    /*added by P*/
    .hero-unit{
    padding: 0px;
    border-radius: 0px;
    background: url('/Content/Vancouver/frontpage.jpg')  no-repeat 0px -250px;
    /*background-size: 100%;*/
    }
}

@media(max-width: 768px) {
    h1.logo {
        width: auto;
        margin: 0px;
    position: relative;
    float: left;
    text-indent: -9999px;
    width: 530px;
    line-height: 30px;
    height: 40px;
    margin-left: 0px;
    background: url('/Content/Vancouver/logo.png') no-repeat 0px 5px; 

    }
.navbar-form {
    float: left;
}
    .navbar input, .navbar button, .navbar .btn{
        display: inline;
    }
    .navbar-controls{
        text-align: left;
    }
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px)   { 
    .navbar-form {
        float: left;
        width: 300px;
    }
    .navbar input, .navbar button, .navbar .btn{
        display: block;
    }

    .navbar .welcome-msg{
        margin-right: 10px;
    }

    h1.logo {
        /*width: auto;*/ 
        margin: 0px;
        position: relative;
        float: left;
        /*text-indent: -9999px;*/
        width: 300px;
        line-height: 50px;
        height: 80px;
        margin-left: 0px;
        background: url('/Content/Vancouver/logo-vert.png') no-repeat 0px 5px; 
    }

    body{
        padding-left: 0px;
        padding-right: 0px;  
    }
    .profile-guywink {
    margin-left: 0px;
    /*width: 210px;*/
    float:left;
    }
}
/**********************
 *
 */
@media(min-width: 764px){
.hero-unit{
    padding: 0px;
    border-radius: 0px;
    background: url('/Content/Vancouver/frontpage.jpg')  no-repeat 0px -250px;
    /*background-size: 100%;*/
}

.hero-unit header .inner{
    padding: 20px 20px 20px 30px;
    margin-left: -30px;
    color: #ccc;
    line-height: 18px;
    background: rgba(0,0,0,0.5);
}
/*.learnmore {
    display: none;
}*/
}
@media(max-width: 764px){
    .hero-unit{
        padding: 0px;
        border-radius: 0px;
    }
    .hero-unit .span8{
        display: none;
    }
    .hero-unit header .inner{
        padding: 20px 20px 20px 30px;
        margin: 0px;
        color: #ccc;
        line-height: 18px;
        background: rgba(0,0,0,0.5);
    }
}

.hero-unit h1{
    display: inline;
    font-size: 28px;
    line-height: 30px;
}

.hero-unit h2{
    font-size: 18px;
    display: inline;
    line-height: 30px;
}

.hero-unit p,
.hero-unit .p{
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 20px;
}

.register-btn{
    font-size: 24px;
    padding: 20px;
}

.blurb{
}

.toplogin {
    width: 400px;
    float: right;
}

/*************************************************
 * Sidebar
 */
.nav{
    font-size: 18px;
    font-weight: bold;
}

.status-message{
    padding: 20px 0px;
    margin-bottom: 30px;
    color: #666;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.status-message a{
    border-bottom: 1px dotted;
}

.advert{
    margin-top: 20px;
}

.advert-link{
    margin: 0px;
    font-size: 12px;
    text-align: center;
}
.advert-link a{
}

/*************************************************
 * Footer
 */
footer{
    text-align: right;
}

footer nav{
    float: left;
}

footer nav ul,
footer nav li{
    display: inline;
    text-align: left;
    padding: 0px;
    margin: 0px;
}
footer nav li{
    margin-right: 20px;
}

footer p{
    line-height: 17px;
    vertical-align: top;
    margin-top: 0px;
}

footer .social-button,
footer .twitter-follow-button{
    padding-right: 20px;
}


/***************************************************************************
 ***************************************************************************
 * APPLICATION STYLES
 ***************************************************************************
 ***************************************************************************
 */
.msg {
    margin-bottom: 20px;
    padding: 5px 20px;
    background: #ffb;
    color: #333;
}

.context-menu .btn{
    float: left;
    margin-right: 10px;
}

@media(min-width: 764px){
.context-menu{
    padding-top: 10px;
    float: right;
    width: 300px;
}

.context-menu form{
    display: inline;
    margin: 0px;
    padding: 0px;
}
.context-menu .btn{
    float: right;
    margin-right: 0px;
    margin-left: 10px;
}
}


/***********************
 * Filters
 */

.filters{
    color: #888;
}
/**************************************************
 * Profiles
 */

.edit-profile textarea{
    display: block;
    width: 95%;
    height: 9em;
}

.pf-visbility input{
    vertical-align: top;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-left: 10px;
}

.profile-guywink {
    /*padding-bottom: 80px;*/
    margin-left: 0px;
    /*padding-top: 5px;*/
    width: 210px;
    float:left;
}

.profile-row{
    margin-top: 20px;
}

.profile-row .profile{
    position: relative;
    min-height: 150px;
}

@media(max-width: 764px){

    .profile-row .profile{
        min-height: 194px;
        padding-top: 44px;
        clear: both;
    }
    .profile h4{
        position: absolute;
        left: 0px;
        top: 0px;
    }

    .profile table{
        clear: both;
    }
    .profile .profile-img{
        /*margin: 20px auto;*/
        float: left;
    }
}

.profile th{
    width: 120px;
}

.profile-card:hover{
    background: #ffd;
}
.profile dt{
    clear: left;
    float: left;
    text-align: right;
    margin-right: 10px;
    width: 100px;
}
.profile-link{
    background: #fff;
    opacity: 0.2;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}
.profile-link:hover{
    opacity: 0.0;

}

.profile h3, .profile h4{
    line-height: 24px;
    padding: 0px;
    margin-bottom: 20px;
}

.profile-img{
    float: left;
    width: 150px;
    margin-right: 20px;
}

.profile-header{
    line-height: 24px;
    position: relative;
}

.profile-description{
    clear: both;
    padding-top: 15px;
}

.profile-details{
    color: #999;
}

.block-btn {
    float:right;
}
.message-btns{
    margin-bottom: 20px;
    display: inline;
}
@media(min-width: 764px){
.message-btns{
}
}

.message-btns form{
    display: inline;
    margin-bottom: 20px;
}

.field-validation-error {
    color: red;
    font-weight: bold;
    
}

/**************************************************
 * Preferences
 */
.ageheightdd {
    width: 70px;
}

/**************************************************
 * Photos
 */
.photo-fileupld {
    line-height: 20px;
}
.photo-btn {
    float:left;
    padding-right: 5px;
}
.photo-caption-btn {
    vertical-align: top;
}
.photowell {
    float: left;
}
/**************************************************
 * Messages
 */

.new-message textarea{
    width: 90%;
    min-height: 85px;
}

.new-message input {
    float: left;
    margin-right: 20px;
}

.message{
    position: relative;
    margin: 20px 0px;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    background: #eee;
}
.message.unread{
    background: #ffffff;
}

.message-from{
    float: left;
    width: 50px;
    padding: 10px;
    margin-right: 10px;
}
.message-from img,
.message-from .placeholder{
    background: #ccc;
    width: 50px;
    height: 50px;
}

.message-meta{
    color: #999;
}

.message-date{
    float: right;
    font-size: 12px;
    color: #aaa;
}

.message-text{
    padding: 5px;
}

.message-text-para {
    display: table;
}

.message .report{
    float: right;
    visibility: hidden;
}

.messages textarea{
    width: 95%;
    height: 4em;
    display: block;
    clear: both;
}

@media(min-width: 764px) {
    .messages textarea{
        width: 495px;
    }

}

.message .report .btn{
    background: transparent;
    padding: 0px;
    border: 0px;
    color: #99f;
    font-size: 10px;
    box-shadow: none;
    text-shadow: none;
    position: absolute;
    right: 5px;
    bottom: 5px;
}

.message .actions{
    float: right;
    visibility: hidden;
    font-size:10px;
}


.message:hover .actions{
    visibility: visible;
}

.message .delete .btn{
    background: transparent;
    padding: 0px;
    border: 0px;
    color: #99f;
    font-size: 10px;
    box-shadow: none;
    text-shadow: none;
    /*position: absolute;*/
    right: 50px;
    bottom: 5px;
}
/**************************************************
 * Form
 */
ul.checkbox,
ul.checkbox li{
    list-style: none;
    vertical-align: middle;
    line-height: 1.8em;
}

.edit-account{
    padding-bottom: 20px;
}

.edit-account .control-label{
    width: auto;
    line-height: 40px;
}

.edit-account .control-group{
    line-height: 40px;
    position: relative;
    margin: 0px;
}

.edit-account .controls{
    position: absolute;
    top: 0px;
    right: 0px;
    width: auto;
}

.register-fields .control-label {
    padding-right: 10px;
}
@media(max-width: 768px) {
.register-fields .control-label {
    padding-right: 10px;
    margin-left: 0px;
    text-align:left;
    float:none;
    width:auto;
}
}
.birth-date-dds select{
    width: 70px;
}
/*
 * Account
 */

.edit-account section{
    margin: 2em 0;
}
.edit-account h3,
.edit-account legend
{
    font-size: 1.6em;
    font-weight: bold;
    border-bottom: 1px solid #ddd;
}

.edit-account-mailcheckbox {
    vertical-align: top;
}




.buycreditsbutton {
    float: left;
    padding-right: 5px;
}

.gift-choose {
    display: inline;
    float: left;
    width: 60px;
    padding-right: 10px;
    padding-bottom: 15px;
    text-align:center;
}

.gift-table {
    /*max-width: 300px;*/
}

.gift-totalcredits {
    float:right;
}


.display-credits {
    font-size: 14pt;
    padding-top: 10px;
    padding-bottom: 20px;
}
#photoEdit {
    padding-top: 10px;
}
.photoRoBtn {
    /*padding-bottom: 15px;
    text-align: center;*/
    float: left;
    padding-right: 20px;
}
/*.photoRoBtn input {
    background-position: 6px 6px;
    background-repeat: no-repeat;
}*/
#rotatebtnleft {
    background-image: url(/Content/images/ArrowLeft.png);
    background-position: 6px 6px;
    background-repeat: no-repeat;
    height:29px;
}
#rotatebtnright {
    background-image: url(/Content/images/ArrowRight.png);
    background-position: 6px 6px;
    background-repeat: no-repeat;
    height:29px;
}
.photoEditBtns {
    /*text-align: center;*/
    /*width: 100px;*/
    /*position:absolute;
    margin-top: 110px;*/
    width: 300px;
    display: inline;
}
.fee-explain {
    float: left;
    padding-top: 5px;
    font-style:italic;
}
.eventdate-teaser {
    width: 60px;
    vertical-align: top;
}
.blockconvo-btn {
    float: right;
}