{{>_header}}

<div class="row-fluid">
    <div class="span6">
        <h1>About Ladies Choice {{city}}</h1>

        <p>Ladies Choice {{city}} is the an online dating site specific to {{city}}, {{province}}. Founded in {{DateFounded}},
        our goal is to to provide an online dating experience for both men and women in {{city}} that is:</p>

        <ul>
            <li>Fun</li>
            <li>Efficient</li>
            <li>Practical</li>
            <li>Authentic</li>
            <li>Respectful</li>
        </ul>

        <h2>About the Founders</h2>

        <p>We grew up and live in Victoria, BC.  So admittedly we're not {{city}} locals.  That doens't mean you can't benefit from the site being locally focussed.  We received lots of positive feedback from our first site, LadiesChoiceVictoria.com.  It seemed only natural to bring the positive experiences people were having on LadiesChoiceVictoria.com to other cities.  So enjoy!</p>
    </div>
    <div class="span6">

        <h2>Contact Us</h2>

        <p>
        If you have feedback, constructive suggestions or if you know of a local event that would make sense for us
        to get involved with, we'd love to hear from you. You can also <a href="https://facebook.com/{{facebook_page}}">check us out on Facebook.</a>
        </p>

        <form action="/Home/contactus" method="post" class="form-horizontal">
            <fieldset>
               {{^user}}
                <div class="control-group">
                    <label class="control-label" for="email">Your Email</label>
                    <div class="controls">
                        <input type="text" name="email" value="{{ email }}">
                    </div>
                </div>
				{{/user}}
                <div class="control-group">
                    <label class="control-label" for="message">Your Message</label>
                    <div class="controls">
                        <textarea name="message" style="width: 95%; height: 10em;"></textarea>
                    </div>
                </div>

                <div class="control-group">
                    <div class="controls">
                        <input type="submit" value="Send us a Message">
                    </div>
                </div>

            </fieldset>
        </form>
    </div>
</div>

{{>_footer}}
