{{>_header}}

<h2>Advertising on LadiesChoiceVictoria</h2>
<div class="row-fluid">
    <div class="span12">
        <p>
        Got a business that sells to singles in Victoria, BC?  Advertising on Ladies Choice Victoria
        offers an unparalleled opportunity to serve targeted ads to the demographics of your choice.
        You can even tailor your geographics down to the <strong>neighbourhood</strong>; who else can
        say that?
        </p>
        <p>
        We offer specialized targeting along the following demographics.
        </p>
        <ul>
            <li>Neighbourhood</li>
            <li>Age</li>
            <li>Gender</li>
            <li>Income</li>
            <li>Education</li>
        </ul>

        <p>Want to learn more, or buy an ad? Contact us at <a href="ads@ladieschoicevictoria.com">ads@ladieschoicevictoria.com</a></p>

    </div><!-- span6 -->
</div><!-- row-fluid -->

{{>_footer}}
