{{>_header}}

<div class="row-fluid">

    <div class="span6">
        <h1>How it works</h1>
        <p>At Ladies Choice {{city}} we believe we can offer an efficient way for men and women to meet each other. We do this by making it clear whose role it is to make first contact: women. Men can only see a woman's profile if she expresses interest, and women only receive messages from men they're actually interested in.</p>

        <h4>Ladies</h4>
        <ol>
            <li><a href="/Account/Register">Create a bio</a> and set your match preferences</li>
            <li>Have a glass of wine and <a href="/MyMatches">browse profiles</a></li>
            <li>Send a wink or message to men you're interested in</li>
        </ol>
        <h4>Guys</h4>
        <ol>
            <li><a href="/Account/Register">Create a bio</a> and set your match preferences</li>
            <li>Chillax, broseph!</li>
            <li>Respond to messages</li>
        </ol>
		<p>Men can read messages for free and pay a one time fee per woman they choose to respond to.  Women can send messages for free and pay a one time fee per man to read messages from him.</p>
</div>
    <div class="span6">
        <img src="{{PhotoPath}}static/howitworks.jpg" width="100%">
    </div>
</div>

{{>_footer}}
