{{>_header}}


<h1>My Account</h1>



<div class="edit-account">

    <section>
        <div id="mail_options">
        {{{ mail_form_html }}}
        </div>
    </section>

    <section class="delete-account">
        <h3>Account Status</h3>
        {{#Disabled}}
        <p>
            {{#IsFemale}}
            Your account is disabled. You cannot send or receive messages, and will not show up in searches.
            {{/IsFemale}}

            {{^IsFemale}}
            Your account is disabled. You cannot send or receive messages.
            {{/IsFemale}}
        </p>
        <form action="/enable/profile" method="post">
            <fieldset>
            <div class="control-group">
                <div class="controls">
                    <input type="submit" class="btn btn-info" value="Enable Profile">
                </div>
            </div>
            </fieldset>
        </form>
        {{/Disabled}}
        {{^Disabled}}

        <p>
        {{#IsFemale}}
            We hate to see you go, but we understand. Disabling your account will prevent you from receiving or sending messages.</p>
        {{/IsFemale}}
        {{^IsFemale}}
            We hate to see you go, but we understand. Disabling your account will prevent you from showing up in searches and receiving or sending messages.</p>
        {{/IsFemale}}
        </p>
        <form action="/disable/profile" method="post">
            <fieldset>
               <div class="control-group">
                    <div class="controls">
                        <input type="submit" class="btn btn-danger" value="Disable Profile">
                    </div>
                </div>
            </fieldset>
        </form>
        {{/Disabled}}
    </section>
</div>

{{>_footer}}
