{{>_header}}
<div class="messages">
    <h2>My Messages</h2>

    {{#messages}}
    <div class="message well {{# has_unread_messages }}unread {{/ has_unread_messages }}">
        {{! Show the date }}
        {{# last_message }}
            <span class="message-date">{{datestr}}</span>
        {{/ last_message}}

        {{^ last_message }}
            <span class="message-date">{{datestr}}</span>
        {{/ last_message }}

        {{#with}}
        <h4><a href="/conversations/{{ parent_id }}">
            {{#photo}}
            <img width="50" src="{{thumb}}">
            {{/photo}}

            {{#name}}
                With {{name}}
            {{/name}}
            
            {{^name}}
                With &lt;deleted user&gt;
            {{/name}}</a>
        </h4>
        {{/with}}


        {{# last_message }}
            {{ message }}
        {{/ last_message}}

        {{^ last_message }}<span class="message-meta">No response.</span>{{/ last_message }}


    </div>
    {{/messages}}

    {{^messages}}

    {{#is_female}}
    <p><b>No messages. Why not send a wink or message to one of your <a href="/dashboard">matches</a>.</b></p>
    {{/is_female}}

    {{^is_female}}
    <p><br>Go have a beer.  Hit the gym.  Play some video games.   Relax. </p>

    <p><br>If a lady is interested in you we'll let you know!</p>
    {{/is_female}}

    {{/messages}}

</div><!-- .messages -->
{{>_footer}}
