{{>_header}}
<h2>Forgotten Password?</h2>
    <form class="form form-horizontal" action="/password-reset/request" method="post">
        <fieldset>
            <div class="control-group">
                <label class="control-label">Enter your email address</label>
                <div class="controls">
                    <input type="email" name="email">
                </div>
            </div>

            <div class="control-group">
                <div class="controls">
                    <input type="submit">
                </div>
            </div>
    </form>
{{>_footer}}
