
{{>_header}}
<form action="/login" method="post" class="form-horizontal">
    <input type="hidden" name="next" value="{{ next }}">
    <fieldset>
        <legend>Log In</legend>

        <div class="control-group">
            <label class="control-label">Email Address</label>
            <div class="controls">
                <input type="text" name="username" value="{{username}}">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Password</label>
            <div class="controls">
                <input type="password" name="password" value="{{ password }}">
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <input type="submit" value="Log In" class="submit-button">
            </div>
        </div>
</form>
<a href="/password-reset">Forgot your password?</a>
{{>_footer}}
