{{>_header}}
    <h2>My Mutual Matches</h2>
        <p>These are your best matches on the site.</p>

        {{#filters}}
        <div class="row-fluid filters">
            <div class="span4">
                <strong>Age Range:</strong> {{OlderThan}} - {{YoungerThan}}<br>
                <strong>Height:</strong> {{TallerThan}} - {{ShorterThan}}<br>
                <strong>Body Type:</strong> {{BodyType}}
            </div>
            <div class="span4">
                <strong>Drinks:</strong> {{Drinks}}<br>
                <strong>Smokes:</strong> {{Smokes}}<br>
                <strong>Min. Income:</strong> {{minimum_income}}<br>
            </div>
            <div class="span4">
                <strong>Religion:</strong> {{Religion}}<br>
                <strong>Education:</strong> {{Education}}<br>
                <strong>Looking For:</strong> {{LookingFor}}<br>
            </div>
        </div><!-- filters -->
        <a href="/MyPreferences">Edit my preferences</a>
        {{/filters}}

        {{#profile-pairs}}

    <div class="row-fluid profile-row">
        {{#profiles}}
        <div class="profile profile-card span6">
        {{#profile}}


        <h4 class="ui-narrow-only">{{name}}</h4>
        <a class="profile-link" href="/profile/{{_id}}"></a>
        <div class="profile-img">
        {{#photo}}
            <img src="{{thumb}}">
        {{/photo}}
        {{^photo}}
            <img src="/img/placeholder.png">
        {{/photo}}
        </div><!-- profile-img -->

        <h4 class="ui-wide-only">{{name}}</h4>

        {{height}}<br>
        {{age}} years<br>
        {{area}}<br>
        <span class="last-login"><strong>Last Login:</strong> {{last_login}}</span>



        {{/profile}}
    </div><!-- profile -->
    {{/profiles}}
</div><!-- row -->
    {{/profile-pairs}}

    <div class="row-fluid">
        <div class="span12" style="margin-top: 20px;">
    {{^profile-pairs}}
    <p>No profiles found.</p>
    {{/profile-pairs}}

    <p>Not seeing enough men? Try <a href="/filters">broadening your preferences</a></p>
</div>
</div>

{{>_footer}}
