{{>_header}}
<div class="messages">

    <h2>Conversation with {{#with}}{{name}}{{/with}}</h2>

    {{#messages}}
    <div class="message{{^read}} unread {{/read}} row-fluid">
        <div class="message-from">
            {{#from}}
                {{#name}}
            <a href="/profile/{{#from}}{{_id}}{{/from}}">
                {{#photo}}
                <img src="{{thumb}}"><br/>
                {{/photo}}

                {{^photo}}
                <div class="placeholder"></div>
                {{/photo}}

            </a>
                {{/name}}


                {{^name}}
                <div class="placeholder"></div>
                {{/name}}
            {{/from}}
        </div>

        <div class="message-text">

            <p class="message-meta">
            {{#from}}
            <span class="message-from-name">
                {{#name}}
                <a href="/profile/{{_id}}">{{name}}</a> said:
                {{/name}}

                {{^name}}
                &lt;deleted user&gt; said:
                {{/name}}
            </span>
            {{/from}}
            <span class="message-date">{{datestr}}</span>
            </p>
            {{{message_html}}}

            <form action="/report/{{_id}}" class="report" method="post">
                <input type="submit" class="btn btn-warning" value="Report this message">
            </form>
        </div>

    </div>
    {{/messages}}

    {{^messages}}
    <p>No messages yet. We'll let you know when you get something.</p>
    {{/messages}}


    {{#with}}

    {{^disabled}}
        {{#can_send}}
        <form action="/message" method="post">
            <fieldset>
                <legend>Send a response to {{name}}</legend>
                <input type="hidden" name="to" value="{{user}}">
                <textarea name="message"></textarea>
                <input class="btn" type="submit" value="Reply">
            </fieldset>
        </form>
        {{/can_send}}

        {{^can_send}}
        <p>Please <a href="/subscribe">upgrade your account</a> to reply to this message</p>
        {{/can_send}}

    {{/disabled}}


    {{#disabled}}
    This user has disabled their profile.
    {{/disabled}}
    {{/with}}

</div><!-- .messages -->
{{>_footer}}
