{{>_header}}


    <h3>New message to {{UsernameOfReceipient}}</h3>
    <div class="row-fluid">

        <div class="new-message span6">
            <form action="/Message" method="post">
                <input type="hidden" name="Parent" value="{{Parent}}">
                <input type="hidden" name="UserIDOfRecipient" value="{{UserIDOfRecipient}}">
                <textarea name="MessageText"></textarea>
                <input type="submit" class="btn" value="Send Message" />
            </form>
        </div>

        <div class="profile-card profile span6">
		<a href="/Profile/Index2/?ProfileModelID={{ProfileModelID}}"> 
        <div class="profile-img">
        {{#Thumb}}
        <img src="{{Thumb}}">
        {{/Thumb}}
        {{^Thumb}}
            <img src="http://www.placehold.it/150x150">
        {{/Thumb}}
        </div><!-- profile-img -->
		</a>
        <h4>{{UsernameOfReceipient}}</h4>
        {{Height}}<br>
        {{Age}} years<br>
        {{Area}}<br>
		
        </div>
{{>_footer}}
