{{>_header}}
<h2>Password reset</h2>
    <form class="form form-horizontal" action="/password-reset" method="post">
        <input type="hidden" name="token" value="{{ token }}">
        <fieldset>
            <div class="control-group">
                <label class="control-label">New Password</label>
                <div class="controls">
                    <input type="password" name="password">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">New Password, Again</label>
                <div class="controls">
                    <input type="password" name="password_again">
                </div>
            </div>

            <div class="control-group">
                <div class="controls">
                    <input type="submit" value="Send me a confirmation email">
                </div>
            </div>
    </form>
{{>_footer}}
