{{>_header}}

    {{#are_my_photos}}
    {{#mobile}}
    <p>Sorry, photo uploads don't work on phones at the moment.</p>
    {{/mobile}}

    {{^mobile}}
    <form action="/Home/photos" method="post" enctype="multipart/form-data">
        <fieldset>
            <legend>Add a photo</legend>
            <div><input type="file" name="file"> 
            <input type="submit" value="Post Photo"></div>
        </fieldset>
    </form>
    {{/mobile}}

        <h1>Pictures of me</h1>
    {{/are_my_photos}}

    {{^are_my_photos}}
        {{#profile}}
        <h1>{{name}}'s photos</h1>
        <p><a href="/profile/{{_id}}">Back to {{name}}'s profile</a></p>
        {{/profile}}
    {{/are_my_photos}}

    {{#photos}}
    <div class="photo well">
        <div align="center">
        <img src="{{ url }}"><br>
        {{^are_my_photos}}
        {{caption}}
        {{/are_my_photos}}

        </div>
        {{#are_my_photos}}
            <br>
            <form action="/photos/delete/{{_id}}" method="post" style="float: right">
                <input type="submit" class="btn btn-danger" value="Delete this Photo">
            </form>
            <form action="/photos/promote/{{_id}}" method="post">
                <input type="submit" class="btn" value="Set Profile Picture">
            </form>

            <form action="/photos/caption/{{_id}}" method="post">
                <textarea name="caption">{{caption}}</textarea>
                <br />
                <input type="submit" value="Update Caption">
            </form>
        {{/are_my_photos}}
    </div>
    {{/photos}}

{{>_footer}}
