{{>_header}}

{{#profile}}
<div class="context-menu">

        <h3 class="ui-narrow-only">{{name}}</h3>
{{#edit_link}}

    <a class="btn" href="/edit/profile">Edit Profile</a>

{{/edit_link}}

    {{^message_disabled}}
        <a class="btn btn-success message-link" href="/message/{{user}}">Send a message</a>
        {{#is_female}}
        <form action="/message" method="post">
            <input type="hidden" name="to" value="{{user}}">
            <input type="hidden" name="message" value="I'm interested in you. Send me a message!">
            <input title="Let him know I'm interested" class="wink-btn btn" type="submit" value="Wink">
        </form>
        {{/is_female}}
    {{/message_disabled}}

    <div style="clear: both;">&nbsp;</div>
</div>

        <h3 class="ui-wide-only">{{name}}</h3>
        <div class="row-fluid profile">
                <!-- Photo -->
                <div class="span4">
                    <div class="profile-img">
                        <a href="/photos/{{_id}}">
                        {{#photo}}
                        <img src="{{thumb}}" style="float: left; margin-right: 10px;"><br>
                        {{#num_other_photos}}
                        {{num_other_photos}} more photo(s)
                        {{/num_other_photos}}
                        {{/photo}}

                        {{^photo}}
                        <img src="/Content/images/placeholder.png" style="float: left; margin-right: 10px;"/>
                        {{/photo}}
                    </a>
                    </div>
                </div>

                {{!Primary attributes}}
                <div class="span4">

                    <div class="profile-header">
                        <table class="table">
                            <tr><th>Height:</th> <td>{{height}}</td></tr>
                            <tr><th>Age:</th> <td>{{age}}</td></tr>
                            <tr><th>Area:</th> <td>{{area}}</td></tr>
                            <tr><th>Looking For?</th><td>{{looking_for}}</td></tr>
                        </table>

                    </div><!-- profile-header -->
                </div><!-- span4 -->

                <div class="span4 profile-details">
                    <table class="table">
                        <tr><th>Smokes?</th> <td>{{smokes}}</td></tr>
                        <tr><th>Drinks?</th> <td>{{drinks}}</td></tr>
                        <tr><th>Religion</th> <td>{{religion}}</td></tr>
                        <tr><th>Income</th> <td> {{income}}</td></tr>
                        <tr><th>Education</th> <td>{{education}}</td></tr>
                        <tr><th>Job</th> <td>{{job}}</td></tr>
                    </table>
                </div><!-- profile-details -->

            </div><!-- row-fluid -->

                <div class="profile-description">
                    <h3>About Me</h3>
                    {{{description_html}}}
                </div>
        {{/profile}}

        {{>_footer}}