{{>_header}}
<div class="row-fluid">
<div class="span6">
    <h2>Register now!</h2>
    {{>register_form}}
</div>
<div class="span6">
    <h3>3 Reasons to choose {{site_name}}</h3>
    {{#is_female}}
    <ol>
        <li>Only receive messages from guys you're interested in</li>
        <li>Only guys you contact will <em>ever</em> see your profile</li>
        <li>Take a proactive approach to online dating</li>
    </ol>
    {{/is_female}}

    {{^is_female}}
    <ol>
        <li>No time wasted on women who aren't interested in you</li>
        <li>Women respond to more of your messages</li>
        <li>More time for you to do other things besides online dating!</li>
    </ol>
    {{/is_female}}
    <div style="margin-top: 20px; border: 1px solid #eee;"><img src="/Content/images/couple_rose.JPG" width="100%"></div>

</div>
</div>
{{>_footer}}
