{{>_header}}
    <h2>My Matches</h2>

    {{form_html}}

    {{#filters}}
    <div class="row-fluid filters">
        <div class="span4">
            <strong>Age Range:</strong> {{older_than}} - {{younger_than}}<br>
            <strong>Height:</strong> {{taller_than}} - {{shorter_than}}<br>
            <strong>Body Type:</strong> {{ body_type }}
        </div>
        <div class="span4">
            <strong>Drinks:</strong> {{drinks}}<br>
            <strong>Smokes:</strong> {{smokes}}<br>
            <strong>Min. Income:</strong> {{minimum_income}}<br>
        </div>
        <div class="span4">
            <strong>Religion:</strong> {{religion}}<br>
            <strong>Education:</strong> {{education}}<br>
            <strong>Looking For:</strong> {{looking_for}}<br>
        </div>
    </div><!-- filters -->
    <a href="/filters">Edit my preferences</a>
    {{/filters}}

        {{#profile-pairs}}

    <div class="row-fluid profile-row">
        {{#profiles}}
        <div class="profile profile-card span6">
        {{#profile}}


        <h4 class="ui-narrow-only">{{name}}</h4>
        <a class="profile-link" href="/profile/{{_id}}"></a>
        <div class="profile-img">
        {{#photo}}
            <img src="{{thumb}}">
        {{/photo}}
        {{^photo}}
            <img src="/img/placeholder.png">
        {{/photo}}
        </div><!-- profile-img -->

        <h4 class="ui-wide-only">{{name}}</h4>

        {{height}}<br>
        {{age}} years<br>
        {{area}}<br>
        <span class="last-login"><strong>Last Login:</strong> {{last_login}}</span>



        {{/profile}}
    </div><!-- profile -->
    {{/profiles}}
</div><!-- row -->
    {{/profile-pairs}}

    <div class="row-fluid">
        <div class="span12" style="margin-top: 20px;">
    {{^profile-pairs}}
    <p>No profiles found.</p>
    {{/profile-pairs}}

    <p>Not seeing enough men? Try <a href="/filters">broadening your preferences</a></p>
</div>
</div>

{{>_footer}}
