{{>_header}}

<h1>Subscribe</h1>
<p>You'll need to subscribe to reply to messages.</p>
<p>&nbsp;</p>
<div class="payment-errors"></div>
<div class="row-fluid">
    <div class="span6">
        <form action="/subscribe" method="post" id="submission-form">
            <fieldset>
                <legend>Payment Information</legend>
                <div class="control-group">
                    <label for="card-number">Card Number</label>
                    <div class="controls">
                        <input type="text" class="card-number">
                    </div>
                </div>
                <div class="control-group">
                    <label for="card-cvc">Card Security Code (3-4 digits)</label>
                    <div class="controls">
                        <input type="text" class="card-cvc">
                    </div>
                </div>
                <div class="control-group">
                    <label for="card-expiry-month">Expiry Date</label>
                    <div class="controls">
                        <select class="card-expiry-month span3">
                            {{# months }}
                            <option value="{{num}}">{{name}}</option>
                            {{/ months }}
                        </select>
                        <select class="card-expiry-year span3">
                            {{# cc_years }}
                            <option value="{{ year }}">{{ year }}</option>
                            {{/ cc_years }}
                        </select>
                    </div>
                </div>
                <div class="control-group submit">
                    <input type="submit" value="Complete my subscription">
                </div>
            </fieldset>
        </form>
    </div>
    <div class="span6">
        <h3>Why Subscribe?</h3>
        <p>We need <strong>you</strong> to help keep LadiesChoiceVictoria going.</p>
    </div>
</div>

{{>_footer}}
