﻿@model LadiesChoice.ViewModels.ChooseGiftViewModel

@{
    ViewBag.Title = "Choose Gift";
}

<div>

    <h1>Choose a gift for @Model.GiftRecipientUsername</h1>


    @if (!Model.HasConversationPartnerDisabledTheirProfile && !Model.HasConversationPartnerBlockedViewer)
    {
	    
        <div>
            @using (Html.BeginForm("ChooseGift", "Message"))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                
                
                @Html.Hidden("GiftRecipientUserID", Model.GiftRecipientUserID)
                @Html.Hidden("ProfileModelID", Model.ProfileModelID)
                @Html.Hidden("SendingFromProfile", Model.SendingFromProfile)
                <div class="span8 gift-table">
                    @foreach (var g in Model.Gifts)
                    {
                        <div class="gift-choose">
                            <div>
                                <img src="/Content/images/@g.GiftImagePath" /></div>
                            <div>@g.CreditCost credits</div>
                            <div>@Html.RadioButton("GiftModelID", g.GiftModelID)</div>
                        </div>
                    }
                </div> 
                <br />
                <div class="span8">
                    @if (Model.CurrentNumberOfCreditsUserHas > 1)
                    {

                        <input class="btn btn-success" type="submit" value="Send Gift!">
                        <div class="gift-totalcredits">
                            You currently have @Model.CurrentNumberOfCreditsUserHas credits
                        </div>

                    }
                    else
                    {
                        <p>Please <a href="/Account/BuyCredits">purchase some more credits</a> to send a gift</p>
                        
                    }

                </div>

            }

        </div>
        
    }
    else
    { 
        <p>This user has disabled their profile.</p>
    }
</div>
<!-- .messages -->

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
