﻿@model LadiesChoice.ViewModels.ConversationViewModel

@{
    ViewBag.Title = "Conversation";
}

<div class="messages">

    <h1>Conversation with @Model.UsernameOfConversationPartner</h1>
@*    @if (!Model.IsConversationPartnerAdminUser) {
    <p><a href="/Profile/Index/@Model.ProfileIDOfConversationPartner" title="@Model.UsernameOfConversationPartner">view @Model.UsernameOfConversationPartner's profile</a></p>
    }*@
    @if (Model.Messages == null) { 
            <p>No messages yet. We'll let you know when you get something.</p>
    }
    @foreach (var m in Model.Messages)
    {
        if ((!(m.RecipientDeleted && m.UserIDOfMessageSender == Model.UserIDOfConversationPartner)) && (!(m.SenderDeleted && m.UserIDOfMessageSender != Model.UserIDOfConversationPartner)))
        {
            string readString = "";
            if (!m.Read)
            {
                { readString = "unread"; }
            }
              <div class="message @readString row-fluid">
              
        <div class="message-from">
            
                @if (m.UsernameOfMessageSender != null)
                {
                    if (m.ProfileModelID != null)
                    {
                        if (m.PhotoModelID != null)
                        {
                        <a href="/Profile/Index/@m.ProfileModelID"><img src="@String.Concat(Model.ThumbPhotoPath, m.PhotoModelID, ".jpg")" title="@m.UsernameOfMessageSender"><br/></a>
                        }
                        else
                        {
                        <a href="/Profile/Index/@m.ProfileModelID" title="@m.UsernameOfMessageSender"><div class="placeholder"></div></a>
                        }
                    }
                }
                else
                {
                <div class="placeholder"></div>
                }
                
        </div>

        <div class="message-text">

                @if (m.UsernameOfMessageSender != null)
                {
                    if (m.ProfileModelID != null)
                    {
                                    <p class="message-meta">
            <span class="message-date">@m.SentDate</span>
                                        <span class="message-from-name">

                        <a href="/Profile/Index/@m.ProfileModelID" title="View @m.UsernameOfMessageSender's profile">@m.UsernameOfMessageSender</a> said:            </span>
         
            
            </p>
                    }
                    else
                    {
                            <p class="message-meta">
            <span class="message-from-name">

				    @m.UsernameOfMessageSender said:            </span>
         
            <span class="message-date">@m.SentDate</span>
            </p>
                    }
                }
                else
                {
                            <p class="message-meta">
            <span class="message-from-name">

                &lt;deleted user&gt; said:
                            </span>
         
            <span class="message-date">@m.SentDate</span>
            </p>
                }
            <div class="message-text-para">
            @Html.Raw(m.MessageText.Replace(Environment.NewLine, "<br/>"))
			@if (m.GiftImagePath != null)
   {
                <img src="/Content/images/@m.GiftImagePath">
   }
                </div>
			<div class="actions">
			<a href="/Message/Delete/?id=@m.MessageModelID">Delete</a> | <a href="/Message/Report/?id=@m.MessageModelID">Report</a>
			</div>
        </div>

    </div>
        }
    }
@*    @Html.Partial("MessagesInAConversationPartial")*@

    @if (!@Model.HasConversationPartnerDisabledTheirProfile && !@Model.HasConversationPartnerBlockedViewer && @Model.Messages.Count() > 0)
    {

        //if (@Model.CanSend || Model.IsConversationPartnerAdminUser)
        //{
		    <div class="new-message span7">
            @using (Html.BeginForm("Index", "Message"))
            {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
                <fieldset>
                    <legend>Send a response to @Model.UsernameOfConversationPartner</legend>
                    <input type="hidden" name="UserIDOfRecipient" value="@Model.UserIDOfConversationPartner">
                                        <input type="hidden" id="ProfileModelIDOfRecipient" name="ProfileModelIDOfRecipient" value="@Model.ProfileIDOfConversationPartner">

                    <input type="hidden" name="SendingFromProfile" value="false">
                    <textarea name="MessageText"></textarea>
                            
                    <input class="btn btn-success" type="submit" value="Reply">


@*                    @if (Model.HasSentBefore || Model.IsConversationPartnerAdminUser)
                    {
                        <input class="btn btn-success" type="submit" value="Reply">
                    }
                    else
                    {
                        <div><input class="btn btn-success" type="submit" value="Reply (@Model.CreditCostToMessage credits)">  
                                            <div class="fee-explain"><p>Credits are only needed for your first message to a lady.  After that it's free.   If it doesn't work out and you never meet her in person, let us know, we'll give you your credits back!</p></div>
                        </div>
                    }
                    @if (!Model.IsConversationPartnerAdminUser)
                    {
                    <div>
                    <input class="btn btn-primary" type="button" value="Send a Gift..." onclick="window.location = '/Message/ChooseGift/' + document.getElementById('ProfileModelIDOfRecipient').value + '?FPP=false'">
                    </div>
                    }*@
                </fieldset>
            }
		    </div>
        <div class="blockconvo-btn" id="blockdiv">
            @if(Model.IsFemale) {
            <input id="blockbtn" class="btn" type="button" value="Block him" />
            } else {
            <input id="blockbtn" class="btn" type="button" value="Block her" />
            }
            </div>
        @*
        }
        else
        {
            <p>Please <a href="/Account/BuyCredits">purchase some credits</a> to reply to this message (Cost is @Model.CreditCostToMessage credits).  </p><div class="fee-explain"><p>Credits are only needed for your first message to a lady.  After that it's free.  If it doesn't work out and you never meet her in person, let us know, we'll give you your credits back!</p></div>
            <form action="/Account/BuyCredits" method="post">
            
               <div class="control-group">
                    <div class="buycreditsbutton">
                        <input type="submit" class="btn btn-success message-link" value="Buy Credits Now" onclick="$('#PleaseWait').show();" >
						
                    </div>
					<div id='PleaseWait' style='display: none;'><img src='/Content/images/spinner.gif'/></div>
                </div>
        </form>
        }*@
    }

    
    @if (@Model.HasConversationPartnerDisabledTheirProfile || @Model.HasConversationPartnerBlockedViewer)
    {
    <p>This user has disabled their profile.</p>
    }
	

</div><!-- .messages -->

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script src="/Scripts/lcv.js" type="text/javascript" defer="defer"></script>
    <script type="text/javascript" defer="defer">
        
        $(document).ready(function () {
            $('#blockbtn').on('click', function () {
 
                $("#blockdiv").fadeOut(500, function () {
                    var strMethodUrl = '@Url.Action("Block", "Account")/@Model.ProfileIDOfConversationPartner?convoPage=true';
                    $.get(strMethodUrl, function (data) {
                        $('#blockdiv').html(data);
                    });
                    $("#blockdiv").fadeIn();

                });


             });
           
         });
        </script>
}
      
