{{>_header}}
<div class="messages">
    <h1>My Inbox</h1>
	<p><a href="/Message/SentMessages">Sent Messages</a></p>
    {{#IndividualConversationSummaries}}
    <div class="message well {{#has_unread_messages}}unread {{/has_unread_messages}}">
        
		{{#PhotoModelID}}
			<div class="message-from">
			<a href="/Profile/Index/{{ProfileModelID}}">
            <img src="{{ThumbPhotoPath}}{{PhotoModelID}}.jpg">
			</a>
           
			</div>
			 {{/PhotoModelID}}
			  {{^PhotoModelID}}
                <div class="placeholder"></div>
                {{/PhotoModelID}}
		{{! Show the date }}
            <span class="message-date">{{LastMessageSentDate}}</span>




        
        <h4><a href="/Message/Conversation/{{ProfileModelID}}">
            
            {{#UsernameOfConversationPartner}}
                With {{UsernameOfConversationPartner}}
            {{/UsernameOfConversationPartner}}
            
            {{^UsernameOfConversationPartner}}
                With &lt;deleted user&gt;
            {{/UsernameOfConversationPartner}}</a>
			
        </h4>
        
		<div class="message-text-para">
		{{ShortenedMessageText}}
        			{{#GiftImagePath}}<img src="/Content/images/{{GiftImagePath}}">{{/GiftImagePath}}
		</div>
					<div style="float:right;"><a href="/Message/Conversation/{{ProfileModelID}}">
            view conversation
			</a></div>

    </div>
    {{/IndividualConversationSummaries}}

    {{^IndividualConversationSummaries}}

    {{#IsFemale}}
    <p><b>No messages. Why not send a wink or message to one of your <a href="/MyMatches">matches</a>.</b></p>
    {{/IsFemale}}

    {{^IsFemale}}
    <p><br>No messages. Why not send a wink or message to one of your <a href="/MyMatches">matches</a>.</p>
    {{/IsFemale}}

    {{/IndividualConversationSummaries}}

</div><!-- .messages -->
{{>_footer}}
