﻿@model LadiesChoice.ViewModels.NewMessageViewModel

@{
    ViewBag.Title = "Send Message";
}

<h3>New message to @Model.UsernameOfReceipient</h3>

    <div class="row-fluid">
        <div class="new-message span6">
            @using (Html.BeginForm()) {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
               
                <input type="hidden" name="UserIDOfRecipient" value="@Model.UserIDOfRecipient">
                <textarea name="MessageText">@Model.MessageText</textarea>
                <input type="submit" class="btn" value="Send Message" />
            }        
        </div>
     @Html.Partial("NewMessageProfileCardPartial")
    </div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
