    {{#Messages}}
{{^SenderDeleted}}
{{^RecipientDeleted}}
<div class="message{{^Read}} unread {{/Read}} row-fluid">
  <div class="message-from">

    {{#UsernameOfMessageSender}}
    {{#ProfileModelID}}<a href="/Profile/Index/{{ProfileModelID}}">
      {{/ProfileModelID}}
      {{#PhotoModelID}}
      <img src="{{ThumbPhotoPath}}{{PhotoModelID}}.jpg">
        <br/>
        {{/PhotoModelID}}

        {{^PhotoModelID}}
        <div class="placeholder"></div>
        {{/PhotoModelID}}

      </a>
    {{/UsernameOfMessageSender}}


    {{^UsernameOfMessageSender}}
    <div class="placeholder"></div>
    {{/UsernameOfMessageSender}}
  </div>

  <div class="message-text">

    <p class="message-meta">

      <span class="message-from-name">
        {{#UsernameOfMessageSender}}
        {{#ProfileModelID}}<a href="/Profile/Index/{{ProfileModelID}}">{{UsernameOfMessageSender}}</a> said:{{/ProfileModelID}}
        {{^ProfileModelID}}{{UsernameOfMessageSender}} said:{{/ProfileModelID}}
        {{/UsernameOfMessageSender}}

        {{^UsernameOfMessageSender}}
        &lt;deleted user&gt; said:
        {{/UsernameOfMessageSender}}
      </span>

      <span class="message-date">{{SentDate}}</span>
    </p>
    {{{MessageText}}}
    {{#GiftImagePath}}<img src="/Content/images/{{GiftImagePath}}">
      {{/GiftImagePath}}
      <div class="actions">
        <a href="/Message/Delete/?id={{MessageModelID}}">Delete</a> | <a href="/Message/Report/?id={{MessageModelID}}">Report</a>
      </div>
    </div>

</div>
{{/RecipientDeleted}}
{{/SenderDeleted}}

{{/Messages}}

{{^Messages}}
<p>No messages yet. We'll let you know when you get something.</p>
{{/Messages}}
