{{>_header}}
<div class="messages">

    <h2>Conversation with {{UsernameOfConversationPartner}}</h2>

    {{#Messages}}
    <div class="message{{^Read}} unread {{/Read}} row-fluid">
        <div class="message-from">
            
                {{#UsernameOfMessageSender}}
            <a href="/Profile/Index/?ProfileModelID={{ProfileModelID}}">
                {{#PhotoModelID}}
                <img src="{{ThumbPhotoPath}}{{PhotoModelID}}.jpg"><br/>
                {{/PhotoModelID}}

                {{^PhotoModelID}}
                <div class="placeholder"></div>
                {{/PhotoModelID}}

            </a>
                {{/UsernameOfMessageSender}}


                {{^UsernameOfMessageSender}}
                <div class="placeholder"></div>
                {{/UsernameOfMessageSender}}
        </div>

        <div class="message-text">

            <p class="message-meta">
        
            <span class="message-from-name">
                {{#UsernameOfMessageSender}}
                <a href="/Profile/Index/?ProfileModelID={{ProfileModelID}}">{{UsernameOfMessageSender}}</a> said:
                {{/UsernameOfMessageSender}}

                {{^UsernameOfMessageSender}}
                &lt;deleted user&gt; said:
                {{/UsernameOfMessageSender}}
            </span>
         
            <span class="message-date">{{SentDate}}</span>
            </p>
            {{{MessageText}}}

            <form action="Message/Report/?id={{MessageModelID}}" class="report" method="post">
                <input type="submit" class="btn btn-warning" value="Report this message">
            </form>
        </div>

    </div>
    {{/Messages}}

    {{^Messages}}
    <p>No messages yet. We'll let you know when you get something.</p>
    {{/Messages}}


    

    {{^HasConversationPartnerDisabledTheirProfile}}
	{{^HasConversationPartnerBlockedViewer}}
        {{#CanSend}}
		<div class="new-message span6">
        <form action="/Message" method="post">
            <fieldset>
                <legend>Send a response to {{UsernameOfConversationPartner}}</legend>
                <input type="hidden" name="UserIDOfRecipient" value="{{UserIDOfConversationPartner}}">
                <textarea name="MessageText"></textarea>
                <input class="btn" type="submit" value="Reply">
            </fieldset>
        </form>
		</div>
        {{/CanSend}}

        {{^CanSend}}
        <p>Please <a href="/subscribe">upgrade your account</a> to reply to this message</p>
        {{/CanSend}}
	{{/HasConversationPartnerBlockedViewer}}
    {{/HasConversationPartnerDisabledTheirProfile}}


    {{#HasConversationPartnerDisabledTheirProfile}}
    This user has disabled their profile.
    {{/HasConversationPartnerDisabledTheirProfile}}
	{{#HasConversationPartnerBlockedViewer}}
	This user has blocked you.
	{{/HasConversationPartnerBlockedViewer}}
    

</div><!-- .messages -->
{{>_footer}}
