﻿@model LadiesChoice.ViewModels.SentMessagesViewModel

@{
    ViewBag.Title = "SentMessages";
}


<div class="messages">

    <h1>Sent Messages</h1>

    @Html.Partial("SentMessagesPartial")
        
    

</div><!-- .messages -->

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}