    {{#Messages}}
    <div class="message{{^Read}} unread {{/Read}} row-fluid">
        <div class="message-from">
            
                {{#UsernameOfMessageSender}}
            {{#ProfileModelID}}<a href="/Profile/Index/{{ProfileModelID}}">{{/ProfileModelID}}
                {{#PhotoModelID}}
                <img src="{{ThumbPhotoPath}}{{PhotoModelID}}.jpg"><br/>
                {{/PhotoModelID}}

                {{^PhotoModelID}}
                <div class="placeholder"></div>
                {{/PhotoModelID}}

            </a>
                {{/UsernameOfMessageSender}}


                {{^UsernameOfMessageSender}}
                <div class="placeholder"></div>
                {{/UsernameOfMessageSender}}
        </div>

        <div class="message-text">

            <p class="message-meta">
        
            <span class="message-from-name">
                {{#UsernameOfMessageSender}}
                {{#ProfileModelID}}Sent to: <a href="/Profile/Index/{{ProfileModelID}}">{{UsernameOfMessageSender}}</a>{{/ProfileModelID}}
				{{^ProfileModelID}}Sent to: {{UsernameOfMessageSender}} (deleted user){{/ProfileModelID}}
                {{/UsernameOfMessageSender}}

                {{^UsernameOfMessageSender}}
                &lt;deleted user&gt; said:
                {{/UsernameOfMessageSender}}
            </span>
         
            <span class="message-date">{{SentDate}}</span>
            </p>
            {{{MessageText}}}
			{{#GiftImagePath}}<img src="/Content/images/{{GiftImagePath}}">{{/GiftImagePath}}

            
        </div>

    </div>
    {{/Messages}}

    {{^Messages}}
	{{#IsFemale}}
    <p><b>No messages. Why not send a wink or message to one of your <a href="/MyMatches">matches</a>.</b></p>
    {{/IsFemale}}    
	{{^IsFemale}}
    <p><b>No messages. Why not send a wink or gift to one of your <a href="/MyMatches">matches</a>.</b></p>
    {{/IsFemale}}
	{{/Messages}}
