{{>_header}}

<div class="row-fluid">
    <div class="span6">
        <h1>About Ladies Choice {{city}}</h1>

        <p>Ladies Choice {{city}} is an online dating site specific to {{city}}, {{province}}. Founded in {{DateFounded}},
        our goal is to to provide an online dating experience for both men and women in {{city}} that is:</p>

        <ul>
            <li>Fun</li>
            <li>Efficient</li>
            <li>Practical</li>
            <li>Authentic</li>
            <li>Respectful</li>
        </ul>

       
    </div>
    <div class="span6">
        <h2>Contact Us</h2>

        <p>
        If you have feedback or constructive suggestions or know of a local event singles might be interested in, we'd love to hear from you. You can also <a href="{{FacebookGroupURL}}">check us out on Facebook.</a>
        </p>
        <form action="/Home/contactus" method="post">
            <fieldset>
               {{^user}}
                <div class="control-group">
                    <label class="control-label" for="email">Your Email</label>
                    <div class="controls">
                        <input type="text" name="email" value="{{ email }}">
                    </div>
                </div>
				{{/user}}
                <div class="control-group">
                    <label class="control-label" for="message">Your Message</label>
                    <div class="controls">
                        <textarea name="message" style="width: 95%; height: 10em;"></textarea>
                    </div>
                </div>

                <div class="control-group">
                    <div class="controls">
                        <input type="submit" value="Send us a Message" class="btn">
                    </div>
                </div>

            </fieldset>
        </form>
    </div>
</div>

{{>_footer}}
