﻿@model LadiesChoice.ViewModels.EventDetailsViewModel

@{
    ViewBag.Title = "Event Details - " + Model.Event.EventName;
}

<h2>@Model.Event.EventName</h2>
<p><b>Date:</b> @Model.Event.EventDate.ToString("MMM dd, yyyy, h:mm tt")<br /><b>Cost:</b> @((1.0 * Model.Event.Cost / 100).ToString("C2")) (@((((100 - Model.Event.PromoDiscount) * 1.0 / 100) * Model.Event.Cost / 100).ToString("C2")) with the discount)<br /><b>Venue:</b> @Model.Event.Location<br /></p>
<p>@Model.Event.EventDescription</p>
<p>Use the promo code <b>@Model.Event.PromoCode</b> to get @Model.Event.PromoDiscount% off!</p>
<p><a href="@Model.Event.LinkToEvent"><input type="button" class="btn btn-success" value="Register Now"/></a></p>

