{{>_header}}

<div class="row-fluid">

    <div class="span6">
        <h1>How it works</h1>
        <p>At Ladies Choice {{city}} we believe we can offer an efficient way for men and women to meet each other. We do this by making it clear whose role it is to initiate conversation: the ladies <img src="/Content/images/vsmallheart.png" alt="heart" style="padding-bottom:5px" /> 
		
		<h4>Ladies</h4>       
        <ol>
            <li><a href="/Account/Register">Create a bio</a> and match preferences</li>
			<li>
			Choose one of two visibility options
				<ul>
					<li>Only men you express interest in can see your profile</li>
					<li>Men who meet your match preferences can see your profile.  Men can send you winks, but only after you express interest can he send you a message.</li>
				</ul>	
			</li>
            <li><a href="/MyMatches">Browse profiles</a> and send a wink or message to men you're interested in</li>
        </ol>
        <h4>Guys</h4>
        <ol>
            <li><a href="/Account/Register">Create a bio</a> and set your match preferences</li>
            <li>Send some winks to your matches.. or just read a book or something</li>
            <li>Respond to messages</li>
        </ol>
		<p>Although orignally men had to pay a fee to respond to messages, the site is now free for both men and women.</p>
</div>
    <div class="span6">
        <img src="{{PhotoPath}}static/howitworks.jpg" width="100%">
    </div>
</div>

{{>_footer}}
