﻿@model LadiesChoice.ViewModels.HomePageViewModel

@{
    ViewBag.Title = "Ladies Choice "+ Model.city;
}

<div class="hero-unit row-fluid">

    <div class="span8">&nbsp;</div>
    <header class="span4">
    <div class="inner" style="color: #fff">
        <div class="p"><h1>Ladies Choice @Model.city</h1> is an <h2>online dating service</h2> with a twist: <strong>only women</strong> can message first.</div>
        <p>This means <strong>more choice</strong> for women, and <strong>less wasted time</strong> for men.</p>
        <p style="margin-bottom: 0px; margin-top: 40px; text-align:center">
        <a class="btn btn-success" style="font-size: 24px; padding: 10px;" href="/Account/Register">Create a <strong>Free</strong> Profile!</a>
        <br>
        or
        <br>
        <a style="color: #cdf;" href="/Home/howitworks">Learn More</a>
        </p>
</div>
    </header>
</div>


<div class="row-fluid">
    <div class="span4">
        <h2>Good for Her</h2>
        <p>On Ladies Choice @Model.city, only women can start conversations, and your profile is only visible to men you've contacted or (if you prefer) men who match your preferences. </p><p>This means you can spend more time getting to know guys you’re actually interested in.</p>
        <a class="btn btn-success" href="/Account/Register/f">I am a woman, sounds great!</a>
    </div>
    <div class="span4">
        <h2>Good for Him</h2>
        <p>You're a great guy. So why waste time messaging women who aren't interested in you?</p>
        <p>On Ladies Choice @Model.city, we provide an efficient way for you to meet women in @Model.city who are interested in you. </p><br />
        <a class="btn btn-success" href="/Account/Register/m">I am a man, sign me up!</a>
    </div>
    <div class="span4">
        <h2>&amp; Local Too!</h2>
        <p>No more wondering whether your match lives in your city &mdash; On Ladies Choice @Model.city, it's locals only!</p>
        <p>Know of a local event @Model.city singles might be interested in?  <a href="/Home/about">Let us know!</a></p>
        <p>Learn more about <a href="/Home/howitworks">how it works</a>.</p>
    </div>
</div>
