{{>_header}}

<div class="hero-unit row-fluid">

    <div class="span8">&nbsp;</div>
    <header class="span4">
    <div class="inner" style="color: #fff">
        <div class="p"><h1>Ladies Choice {{city}}</h1> is an <h2>online dating service</h2> with a twist: <strong>only women</strong> can initiate contact.</div>
        <p>This means <strong>more choice</strong> for women, and <strong>less wasted time</strong> for men.</p>
        <p align="center" style="margin-bottom: 0px; margin-top: 40px;">
        <a class="btn btn-success" style="font-size: 24px; padding: 10px;" href="/Account/Register">Create a <strong>Free</strong> Profile!</a>
        <br>
        or
        <br>
        <a style="color: #cdf;" href="/how-it-works">Learn More</a>
        </p>
</div>
    </header>
</div>


<div class="row-fluid">
    <div class="span4">
        <h2>Good for Her</h2>
        <p>Looking for a discreet way to meet men you like in {{city}}?</p>
        <p>On Ladies Choice {{city}}, only women can initiate contact, and your profile is only visible to men you've contacted. This means you can spend more time getting to know guys you’re actually interested in.</p>
        <a class="btn btn-success" href="/Account/Register">I am a woman, that sounds great!</a>
    </div>
    <div class="span4">
        <h2>Good for Him</h2>
        <p>You're a great guy. So why waste time on women who aren't interested in you?</p>
        <p>On Ladies Choice {{city}}, we provide an efficient way for you to meet women in {{city}} who are interested in you. You've got a lot to offer and they'll see that.</p>
        <a class="btn btn-success" href="/Account/Register">I am a man, sign me up!</a>
    </div>
    <div class="span4">
        <h2>And Local, Too!</h2>
        <p>Want to date someone in {{example_neighbourhood}}? No more wondering whether your match lives in your city &mdash; On LadiesChoice{{city}}, you can pick your matches by neighbourhood!</p>
        <p>Learn more about <a href="/howitworks">how it works</a>.</p>
    </div>
</div>
{{>_footer}}
