{{>_header}}
<div class="row-fluid">
    <div class="span8">
        <h2>Media & Press</h2>
        <p>We would totally love to be written about, photographed, filmed, recorded, or anything else you like. Send an email to <a href="mailto:media@ladieschoicevictoria.com">media@ladieschoicevictoria.com</a> and we'll try to get back to you right away.</p>

        <h2>In the News</h2>

        <p><a href="http://www.timescolonist.com/entertainment/dating+site+puts+Victoria+ladies+first/7444459/story.html">New dating site puts Victoria's ladies first</a> (Victoria Times Colonist)</p>
        <p><a href="http://metronews.ca/news/victoria/416502/new-dating-site-empowers-women-says-founder/">New dating site "empowers women," says founder</a> (Metro Victoria)</p>
    </div>
    <div class="span4">
        <h2>Downloads</h2>
        <a href="https://s3.amazonaws.com/master-dater/static/LCVPressKit-2012-10-18.zip">"Press Kit"</a>
    </div>

</div>
{{>_footer}}
