{{>_header}}
<h2>
    Web Site Terms and Conditions of Use
</h2>

<p>
ATTENTION: YOU MUST BE 18+ YEARS OLD TO REGISTER ON OR BROWSE THIS WEBSITE. By using and/or viewing this site, you represent and warrant that you have the right, authority, and capacity to enter into this Agreement and to abide by all of its terms and conditions.
These Terms of Service are issued by Ladies Choice Media Inc. (WE or US) for the provision of the service. Ladies Choice Media Inc. is the exclusive owner and operator of www.ladieschoice{{LocalDomain}}.  Please read these Terms of Service carefully to make sure you understand them.  Once you have completed your online registration at www.ladieschoice{{LocalDomain}} you will have entered into a legally binding contract for the provision of this online dating service (the "service"). You become a Member (a "member"), and you agree to be bound by the terms and conditions of this Terms of Service (the "Terms") for as long as you continue to be a member. Visitors to www.ladieschoice{{LocalDomain}} who do not register as a member are also bound by the present Terms. If you do not agree to the Terms, please do not register for the www.ladieschoice{{LocalDomain}} service or access or use www.ladieschoice{{LocalDomain}}.
</p>
<h3>1. Registration</h3>
<p>
To become a member you must register on the website. When you register, you agree to provide us with accurate, current and full information about yourself, and to update your information on the site when it changes. You agree that we may rely on this data as accurate, current and full. You acknowledge that if your registration data is untrue or not current, we reserve the right to terminate your use of the service.
</p>
<h3>2. Term and termination</h3>
<p>
2.1 We may terminate your membership at any time, for any reason, effective upon sending written notice to you. We reserve the right to immediately suspend or terminate your access to the service, without notice, upon any breach of these Terms by you brought to our attention.
<br>2.2 You may terminate your membership at any time, for any reason by following the instructions on the "My Account" page or by contacting us via the "Contact Us" form.
</p>
<h3>3. Using the service and www.ladieschoice{{LocalDomain}} content</h3>
<p>
3.1 This web-site is designed for the personal use of individual members and viewers only and may not be used in connection with any commercial projects or aims. Companies may not become members of www.ladieschoice{{LocalDomain}} and shall not use the service or site for any purpose including but not limited to: sending unsolicited commercial e-mails to members, or using member personal identifying information for commercial purposes. Any unauthorized usage will be investigated, and an appropriate legal action will be taken, including without limitation, civil, criminal, and injunctive redress and/or termination of membership at our sole discretion.
<br>3.2 We reserve the right to review and delete any messages, comments, photos, video and whole profiles (the "content") that in our sole judgment violate these Terms or may be offensive, illegal, or that might violate the rights or put in danger safety of other members.
<br>3.3 Services accessed over mobile devices might be restricted and not all features be available.
<br>3.4 You are solely responsible for the content that you publish or display on the service, or transmit to other members.
<br>3.5 We do not verify the accuracy or truth of any information published by our members. Whilst we reserve the right to delete or remove content deemed offensive by us or other members, we cannot guarantee that all the offensive material will be removed or deleted. We are entitled to investigate and revoke a person's membership if a member has misused the service, or behaved in a way which could be regarded as inappropriate or whose conduct is unlawful or illegal. By using this service you accept that any member profiles, messages and communication may not be genuine and the service is for entertainment purposes only.
<br>3.6 You may not impersonate any other person or entity, publish in your profile any personal contact information. This includes but is not restricted to, email addresses, telephone numbers, postal addresses, instant messengers' details (e.g. ICQ, MSN, Skype numbers/usernames, etc), web site URLs, etc. Any personal contact information will be removed.
<br>3.7 You may not solicit other members' contact details or transmit any chain letters or junk email to other members. In order to protect our members from such advertising or solicitation, we reserve the right to restrict the number of emails that a member may send to other members in any 24-hour period to a number which we deem appropriate in our reasonable discretion.
<br>3.8 You may not post copyrighted material on the site. This includes but is not limited to photographs, images and text. Should you think that copyrighted material has been posted on the site you need to contact us with full details of the supposed copyright infringement.
<br>3.9 You may not harass any member and must stop contacting other members who have asked you to stop.
</p>


<h3>
    4. Disclaimer
</h3>
<p>
The materials on www.ladieschoice{{LocalDomain}} are provided "as is". We makes no warranties, expressed or implied, and hereby disclaims and negates all other warranties, including without limitation, implied warranties or conditions of merchantability, fitness for a particular purpose, or non-infringement of intellectual property or other violation of rights. Further, we do not warrant or make any representations concerning the accuracy, likely results, or reliability of the use of the materials on its Internet web site or otherwise relating to such materials or on any sites linked to this site.
</p>

<h3>
    5. Limitations
</h3>

<p>
In no event shall we or our suppliers be liable for any damages (including, without limitation, damages for loss of data or profit, or due to business interruption,) arising out of the use or inability to use the materials on www.ladieschoice{{LocalDomain}}, even if we or an authorized representative has been notified orally or in writing of the possibility of such damage. Because some jurisdictions do not allow limitations on implied warranties, or limitations of liability for consequential or incidental damages, these limitations may not apply to you.
</p>

<h3>
    6. Revisions and Errata
</h3>

<p>
The materials appearing on www.ladieschoice{{LocalDomain}} could include technical, typographical, or photographic errors. We do not warrant that any of the materials on its web site are accurate, complete, or current. We may make changes to the materials contained on its web site at any time without notice. We do not, however, make any commitment to update the materials.
</p>

<h3>
    7. Links
</h3>

<p>
We have not reviewed all of the sites linked to www.ladieschoice{{LocalDomain}} and are not responsible for the contents of any such linked site. The inclusion of any link does not imply endorsement by us of the site. Use of any such linked web site is at the user's own risk.
</p>

<h3>
    8. Governing Law
</h3>

<p>
Any claim relating to www.ladieschoice{{LocalDomain}} or us shall be governed by the laws of the Province of British Columbia without regard to its conflict of law provisions.
</p>


<a name="pp" id="pp"></a>

<h2>
    Privacy Policy
</h2>
<p>We are committed to treating personal information based on the principles outlined in this policy.  This policy is developed in compliance with British Columbia's Personal Information Protection Act ("PIPA").  B.C.'s Personal Information Protection Act sets out rules for how organizations such as ours can collect, use and disclose your personal information.</p>

<h3>Definition of personal information</h3>
<p>Personal information in the context this site refers to:
<ul>
<li>Your email</li>
<li>Your profile information including bio and photos</li>
<li>Your preferences</li>
</ul>
</p>
<h3>How we use your personal information</h3>
<p>We collect personal information for the following uses:
<ul>
<li>To create and share your profile with other users on the site</li>
<li>To provide matches to you</li>
<li>To notify you that you have received new messages or new matches</li>
<li>To provide support to you</li>
<li>To detect and protect against fraud and error</li>
<li>Other purposes as described in this policy</li>
</ul>
</p>
<h3>Limits on collection, use, and disclosure</h3>
<p>We will only collect and use personal information that is necessary to fulfill the purposes identified in this policy.  We will not collect, use or disclose personal information except for the identified purposes unless we receive further consent from you.  We will only collect, use or disclose personal information in accordance with PIPA.</p>
<h3>Disclosure personal information</h3>
<p>We will disclose personal information where authorized by PIPA or required by law such as a court order, subpoena or search warrant.  
We will never sell or rent your personal information to anyone to any other organizations unless you give consent in accordance with PIPA.</p>

<h3>Obtaining consent to collect, use, and disclose personal information</h3>
<p>We will get your consent to collect, use or disclose your personal information, except where we are legally authorized or required by law to do so without consent.
By giving us your personal information you are considered to have given implied consent for collecting, using or disclosing personal information as outlined in this policy.  Implied content refers to you voluntarily giving us personal information for an obvious purpose.  As an example when you give us for personal information to fill out your profile, you have given implied content to have your profile visible to other member of the site (subject to your visibility settings).
If you choose to withdraw your consent, we will accommodate subject to contractual and legal obligations.</p>
<h3>Retention of Personal Information</h3>
<p>Although we will keep your personal information for as long as required for a legal or business purpose, we will keep personal information used to make a decision that directly affects you for at least one year after we make that decision.</p>
<h3>Keeping Personal Information Secure</h3>
<p>The security of your personal information is important to us.  We adhere to current standards and safeguards in this regard.  Examples include storing your information on limited access servers and the use of encrypted payment pages - currently we use a 2048-bit encryption certificate.  Although we take steps to secure your information, it is not possible for us to guarantee security.
Whenever we destroy personal information we take reasonable measures to ensure it's destroyed securely.</p>
<h3>Accuracy of personal information</h3>
<p>We are committed to ensuring (at best effort) that the info we collect, use or disclose is accurate and complete.  
You may write to us to ask us to correct any errors or omissions in your personal information that is under your our control.  Assuming we are satisfied that your request for correction is reasonable, we will correct the personal information as soon as reasonably possible.  If we choose not correct your personal information, we will note the requested correction on copies of the personal information under our control.</p>
<h3>Providing access to your personal information under our control</h3>
<p>You have the right to access to your personal information under our control.  To gain access a request must be made in writing.  
We will require you prove your identity before giving you access to your personal information.  We will give you your personal information under our control, information about the ways in which your information is or has been used, and the names of the individuals and organizations to which your personal information has been disclosed.  To provide access we will to charge a $50 fee (required in advance) for providing you with access to your personal information. We will provide the requested personal information within 30 business days after it is requested or we will give written notice if we need more time to respond.  
If we choose not to give you access to certain personal information, we will inform you in writing and will state the reasons for our refusal.  If we refuse the access request, you have the right to ask the Office of the Information and Privacy Commissioner for British Columbia to review the decision.</p>

<h3>Complaints, requests for access, or questions</h3>
<p>Please contact our privacy officer at privacy@ladieschoice{{LocalDomain}} for any and all privacy related complaints, requests, or questions.  If you are not satisfied with our response you can contact the Office of the Information and Privacy Commissioner for British Columbia.</p>

{{>_footer}}

