﻿@model LadiesChoice.Models.MyPreferencesModel

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>MyPreferencesModel</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.UserID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UserID)
            @Html.ValidationMessageFor(model => model.UserID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.OlderThan)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.OlderThan)
            @Html.ValidationMessageFor(model => model.OlderThan)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.YoungerThan)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.YoungerThan)
            @Html.ValidationMessageFor(model => model.YoungerThan)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TallerThan)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TallerThan)
            @Html.ValidationMessageFor(model => model.TallerThan)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ShorterThan)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ShorterThan)
            @Html.ValidationMessageFor(model => model.ShorterThan)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BodyType)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BodyType)
            @Html.ValidationMessageFor(model => model.BodyType)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LookingFor)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LookingFor)
            @Html.ValidationMessageFor(model => model.LookingFor)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.HaveChildren)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.HaveChildren)
            @Html.ValidationMessageFor(model => model.HaveChildren)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Smokes)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Smokes)
            @Html.ValidationMessageFor(model => model.Smokes)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Drinks)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Drinks)
            @Html.ValidationMessageFor(model => model.Drinks)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Religion)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Religion)
            @Html.ValidationMessageFor(model => model.Religion)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MinimumIncome)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MinimumIncome)
            @Html.ValidationMessageFor(model => model.MinimumIncome)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
