﻿@model LadiesChoice.Models.MyPreferencesModel

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>MyPreferencesModel</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UserID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.OlderThan)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OlderThan)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.YoungerThan)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.YoungerThan)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TallerThan)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TallerThan)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ShorterThan)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ShorterThan)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BodyType)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BodyType)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LookingFor)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LookingFor)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.HaveChildren)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HaveChildren)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Smokes)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Smokes)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Drinks)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Drinks)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Religion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Religion)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MinimumIncome)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MinimumIncome)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
