﻿@model LadiesChoice.Models.MyPreferencesModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>MyPreferencesModel</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UserID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.OlderThan)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OlderThan)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.YoungerThan)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.YoungerThan)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TallerThan)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TallerThan)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ShorterThan)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ShorterThan)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BodyType)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BodyType)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LookingFor)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LookingFor)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.HaveChildren)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HaveChildren)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Smokes)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Smokes)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Drinks)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Drinks)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Religion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Religion)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MinimumIncome)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MinimumIncome)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.MyPreferenceModelID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
