﻿@using LadiesChoice.Utilities
@model LadiesChoice.ViewModels.MyPreferencesViewModel

@{
    ViewBag.Title = "My Preferences";
}

<h1>My Preferences</h1>

@using (Html.BeginForm((string)ViewBag.FormAction, "MyPreferences", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.MyPreferencesModelID)

   <fieldset>
    <legend>I prefer someone who...</legend>
    <div class="control-group">
            <label class="control-label">Age between</label>
            <div class="controls">            
                @Html.DropDownList("OlderThan", Model.OlderThanList, new {@class="ageheightdd"}) and @Html.DropDownList("YoungerThan", Model.YoungerThanList, new {@class="ageheightdd"})
            </div>
            @Html.ValidationMessageFor(model => model.OlderThan)
        </div>
        
        <div class="control-group">
            <label class="control-label">Height between</label>

                <div class="controls">
                @Html.DropDownList("TallerThan", Model.TallerThanList, new {@class="ageheightdd"}) and @Html.DropDownList("ShorterThan", Model.ShorterThanList, new {@class="ageheightdd"})

                </div>           
            </div>
    
        
        <div class="control-group">
            @Html.LabelFor(model => model.BodyType, new {@class="control-label"})
            <div class="controls">            
              @Html.CheckBoxesForEnumFlagsFor(model => model.BodyType, "checkbox")
            </div>
            @Html.ValidationMessageFor(model => model.BodyType)
        </div>
    
       <div class="control-group">
            @Html.LabelFor(model => model.HaveChildren, new {@class="control-label"})
            <div class="controls">            
              @Html.CheckBoxesForEnumFlagsFor(model => model.HaveChildren, "checkbox")
            </div>
            @Html.ValidationMessageFor(model => model.HaveChildren)
        </div>
        <div class="control-group">
            @Html.LabelFor(model => model.WantChildren, new {@class="control-label"})
            <div class="controls">            
              @Html.CheckBoxesForEnumFlagsFor(model => model.WantChildren, "checkbox")
            </div>
            @Html.ValidationMessageFor(model => model.WantChildren)
        <div class="control-group">
            @Html.LabelFor(model => model.Smokes, new {@class="control-label"})
            <div class="controls">            
              @Html.CheckBoxesForEnumFlagsFor(model => model.Smokes, "checkbox")
            </div>
            @Html.ValidationMessageFor(model => model.Smokes)
        </div>

        <div class="control-group">
            @Html.LabelFor(model => model.Drinks, new {@class="control-label"})
            <div class="controls">            
              @Html.CheckBoxesForEnumFlagsFor(model => model.Drinks, "checkbox")
            </div>
            @Html.ValidationMessageFor(model => model.Drinks)
        </div>
        <div class="control-group">
            @Html.LabelFor(model => model.Religion, new {@class="control-label"})
            <div class="controls">            
              @Html.CheckBoxesForEnumFlagsFor(model => model.Religion, "checkbox")
            </div>
            @Html.ValidationMessageFor(model => model.Religion)
        </div>
        
        </div>
        <div class="control-group">
            @Html.LabelFor(model => model.LookingFor, new {@class="control-label"})
            <div class="controls">            

              @Html.CheckBoxesForEnumFlagsFor(model => model.LookingFor, "checkbox")
                
            </div>
            @Html.ValidationMessageFor(model => model.LookingFor)
        </div>

    
      <div class="control-group">
            @Html.LabelFor(model => model.Education, new {@class="control-label"})
            <div class="controls">              
                @Html.CheckBoxesForEnumFlagsFor(model => model.Education, "checkbox")
            </div>
            @Html.ValidationMessageFor(model => model.Education)
        </div>
      <div class="control-group">
            @Html.LabelFor(model => model.MinimumIncome, new {@class="control-label"})
            <div class="controls">            
                @Html.DropDownList("MinimumIncome", Model.MinimumIncomeList)
            </div>
            @Html.ValidationMessageFor(model => model.MinimumIncome)
        </div>
       <div class="control-group">
            @Html.LabelFor(model => model.ShowOnlyProfileWithPhotos, new {@class="control-label"})
            <div class="controls">            
                @Html.CheckBoxFor(model => model.ShowOnlyProfileWithPhotos)
            </div>
            @Html.ValidationMessageFor(model => model.MinimumIncome)
        </div>
        
        
        </fieldset>
  <fieldset class="save-button">
        <div class="control-group">
            <div class="controls">   
                <input type="submit" value="Save Preferences"  class="btn btn-success"/>
            </div>
        </div>
    </fieldset>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}