﻿@model IEnumerable<LadiesChoice.Models.MyPreferencesModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OlderThan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.YoungerThan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TallerThan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShorterThan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BodyType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LookingFor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HaveChildren)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Smokes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Drinks)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Religion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MinimumIncome)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OlderThan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.YoungerThan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TallerThan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShorterThan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BodyType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LookingFor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HaveChildren)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Smokes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Drinks)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Religion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MinimumIncome)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MyPreferenceModelID }) |
            @Html.ActionLink("Details", "Details", new { id=item.MyPreferenceModelID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MyPreferenceModelID })
        </td>
    </tr>
}

</table>
