@model LadiesChoice.ViewModels.RegisterProfileViewModel
@{
    ViewBag.Title = "Register";
}
<div class="row-fluid">
       <div class="span6">
    <h2>Register now!</h2>
<script src="@Url.Content("~/Content/SecurityGuard/scripts/jquery-1.6.1.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Content/SecurityGuard/scripts/modernizr-1.7.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Content/SecurityGuard/scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Content/SecurityGuard/scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
@using (Html.BeginForm((string)ViewBag.FormAction, "SGAccount",FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

        <fieldset>
            <legend>Account Information</legend>
            <div class="control-group">
                @Html.LabelFor(model => model.Gender, new {@class="control-label"})
                @Html.DropDownListFor(model => model.Gender, Model.GenderList, new {@class="controls"})
                @Html.ValidationMessageFor(model => model.Gender) 
            </div>
            <div class="control-group">
                @Html.LabelFor(m => m.BirthDate, new {@class="control-label"})
               @* @Html.Partial("DateSelector_DropdownList")*@
                <div class="controls controls-row">
                @Html.DropDownListFor(model => model.Year, Model.YearList, new {@class="span3"})
                @Html.DropDownListFor(model => model.Month, Model.MonthList, new {@class="span4"})
                @Html.DropDownListFor(model => model.Day, Model.DayList, new {@class="span3"})
                @Html.ValidationMessageFor(model => model.BirthDate)
                </div>           
            </div>
            <div class="control-group">
                @Html.LabelFor(m => m.UserName, new {@class="control-label"})
                @Html.TextBoxFor(m => m.UserName, new {@class="controls"})
                @Html.ValidationMessageFor(m => m.UserName)
            </div>
            <div class="control-group">
                @Html.LabelFor(m => m.Email, new {@class="control-label"})
                @Html.TextBoxFor(m => m.Email, new {@class="controls"})
                @Html.ValidationMessageFor(m => m.Email)
            </div>           
            <div class="control-group">
                @Html.LabelFor(m => m.EmailAgain, new {@class="control-label"})
                @Html.TextBoxFor(m => m.EmailAgain, new {@class="controls"})
                @Html.ValidationMessageFor(m => m.EmailAgain)
            </div>
            <div class="control-group">
                @Html.LabelFor(m => m.Password, new {@class="control-label"})
                @Html.PasswordFor(m => m.Password, new {@class="controls"})
                @Html.ValidationMessageFor(m => m.Password)
            </div>
          <div class="control-group">
              <div class="controls">
                <input type="submit" value="Create My Profile" />
                <p>
                  <small>
                    By creating a profile you agree to our <a href="/terms-and-conditions">Terms and Conditions &amp; Privacy Policy</a>
                  </small>
                </p>
              </div>
            </div>
        </fieldset>
    }
    </div>
     @Html.Partial("ReasonsToChoosePartial")
      </div>

