{{>_header}}
    {{^IsMutualMatch}}
	<h1>Search</h1>
	{{/IsMutualMatch}}
    {{#IsMutualMatch}}
	<h1>My Matches</h1>
	<p>These are your best matches on the site.</p>
	{{/IsMutualMatch}}
        <div class="row-fluid filters">
            <div class="span4">
                <strong>Age Range:</strong> {{OlderThan}} - {{YoungerThan}}<br>
                {{#TallerThan}}<strong>Height:</strong> {{TallerThan}} - {{ShorterThan}}<br>{{/TallerThan}}
                {{#BodyType}}<strong>Body Type:</strong> {{BodyType}}{{/BodyType}}
            
                {{#Drinks}}<strong>Drinks:</strong> {{Drinks}}<br>{{/Drinks}}
                {{#Smokes}}<strong>Smokes:</strong> {{Smokes}}<br>{{/Smokes}}
            

                {{#Religion}}<strong>Religion:</strong> {{Religion}}<br>{{/Religion}}
                {{#Education}}<strong>Education:</strong> {{Education}}<br>{{/Education}}
                {{#LookingFor}}<strong>Looking For:</strong> {{LookingFor}}<br>{{/LookingFor}}
				{{#MinimumIncome}}<strong>Minimum Income:</strong> {{MinimumIncome}}<br>{{/MinimumIncome}}

            </div>
        </div><!-- filters -->
        <a href="/MyPreferences">Edit my search preferences</a>

        {{#ProfilePairs}}

    <div class="row-fluid profile-row">
        {{#Profiles}}
		{{#ProfileModelID}}
        <div class="profile profile-card span6">
        


        <h4 class="ui-narrow-only">{{Name}}</h4>
        <a class="profile-link" href="/Profile/Index/{{ProfileModelID}}"></a>
        <div class="profile-img">
            {{#PhotoModelID}}<img src="{{UploadPath}}{{PhotoModelID}}.jpg">{{/PhotoModelID}}
        {{^PhotoModelID}}<img src="/Content/images/placeholder.png">{{/PhotoModelID}}
        </div><!-- profile-img -->
		<div>
        <h4 class="ui-wide-only">{{Name}}</h4>
        {{HeightString}}<br>
        {{Age}} years<br>
        {{Area}}<br>
        <span class="last-login"><strong>Last Login:</strong> {{LastLoginString}}</span>
		</div>


        
    </div><!-- profile -->
	{{/ProfileModelID}}
    {{/Profiles}}
</div><!-- row -->
    {{/ProfilePairs}}

    <div class="row-fluid">
        <div class="span12" style="margin-top: 20px;">
    {{^ProfilePairs}}
    <p>No profiles found.</p>
    {{/ProfilePairs}}

    {{#IsFemale}}<p>Not seeing enough men? Try <a href="/MyPreferences">broadening your preferences</a></p>{{/IsFemale}}
	{{^IsFemale}}<p>Not seeing enough ladies? Remember not all ladies have their profile visible.  Only some ladies choose to share their profile with their matches.  You can also try <a href="/MyPreferences">broadening your preferences</a></p>{{/IsFemale}}
</div>
</div>

{{>_footer}}
