﻿@model LadiesChoice.Models.GiftModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>GiftModel</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CreditCost)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreditCost)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.GiftImagePath)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.GiftImagePath)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.GiftModelID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
