﻿@model LadiesChoice.Models.PhotoModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>PhotoModel</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UserID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Caption)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Caption)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IsMainPhoto)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsMainPhoto)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.PhotoModelID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
