﻿@model LadiesChoice.ViewModels.PhotoEditorViewModel

     <link href="@Url.Content("~/Content/jquery.Jcrop.css")" rel="stylesheet" type="text/css" />

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
     



<h1>Edit your photo</h1> 
 <div id="mainform">
 @using (Html.BeginForm("EditorOutput", "Photo", FormMethod.Post))
 {
       <div class="photoEditBtns">
         <div class="photoRoBtn">
             <input type='button' id="rotatebtnleft" name="rotatebtnleft" value='' class="btn" />
             <input type='button' id="rotatebtnright" name="rotatebtnright" value='' class="btn" />
         </div>
         <input type='submit' name='action' value='Save photo' class="btn btn-success" />
     </div> 
     <div id="photoEdit">
     @Html.Partial("_photoEditor", Model)
         </div>    
      @Html.HiddenFor(x => x.Left)
      @Html.HiddenFor(x => x.Right)
      @Html.HiddenFor(x => x.Top)
      @Html.HiddenFor(x => x.Bottom)
      @Html.HiddenFor(x => x.ImageUrl)
      @Html.Hidden("NoEditor", true);
 }

</div>

 
    <script type="text/javascript" defer="defer">
        $(document).ready(function () {
            $('#rotatebtnleft').on('click', function () {
                var d = new Date();
                var strMethodUrl = '@Url.Action("Rotate", "Photo")/@Model.PhotoModelID?clockWise=false&dt=' + d.getTime();
                $.get(strMethodUrl, function(data) {
                    $('#photoEdit').html(data);
                });
             });
                
                $(document).on("click","#rotatebtnright",function(){
                    var d = new Date();
                    var strMethodUrl = '@Url.Action("Rotate", "Photo")/@Model.PhotoModelID?dt=' + d.getTime();
                      $.get(strMethodUrl, function(data) {
                          $('#photoEdit').html(data);
                      });
                });   
          
        
        
         });
        </script>
      <script src="/Scripts/lcv.js" type="text/javascript" defer="defer"></script>

 <script src="@Url.Content("~/Scripts/jquery.Jcrop.js")" type="text/javascript" defer="defer"></script>
