﻿@model IEnumerable<LadiesChoice.Models.PhotoModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Caption)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsMainPhoto)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Caption)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsMainPhoto)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PhotoModelID }) |
            @Html.ActionLink("Details", "Details", new { id=item.PhotoModelID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PhotoModelID })
        </td>
    </tr>
}

</table>
