﻿@model LadiesChoice.ViewModels.MyPhotosViewModel

@{
    ViewBag.Title = "My Photos";
}

@using (Html.BeginForm("Editor", "Photo", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    
    if (Model.ShowMenu)
    {
        <h1>My Photos</h1>
    }
    else
    {
        
        <h1>Add some photos</h1>
        if (!Model.IsFemale) {
        <p>Having a photo will increase your chances of being contacted exponentially.  Having multiple photos is even better. </p>
        }
    }

        <fieldset>
            @if (Model.ShowMenu)
            { <legend>Add a photo</legend> }
            <div><input type="file" name="File" class="photo-fileupld"> 
            <input type="submit" value="Post Photo" class ="btn btn-success" onclick="$('#PleaseWait').show();" >
						
                    
					<img id='PleaseWait' style='display: none;' src='/Content/images/spinner.gif'/>
            @Html.ValidationMessageFor(model => model.File)
                </div>
        </fieldset>
    
    
    @*
    
    
    @{
    @Scripts.Render("~/bundles/jquery")
    <script src="@Url.Content("~/Scripts/JCrop/jquery.Jcrop.js")" type="text/javascript"></script>
    <link rel="stylesheet" href="@Url.Content("~/Content/JCrop/jquery.Jcrop.css")" type="text/css" />
}

    @{
    ViewBag.Title = "Avatar Editor Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model SimsTemplate.Models.ViewModels.AvatarEditorModel

<script type="text/javascript">

    $(function() {
     jQuery('#avatarImageEditor').Jcrop({
        onChange: showPreview,
        onSelect: showPreview,
        setSelect: [@Model.Top, @Model.Left, @Model.Right, @Model.Bottom],
        aspectRatio: 1
    });
 });

function showPreview(coords)  {
     if (parseInt(coords.w) > 0)  {
         $('#Top').val(coords.y);
         $('#Left').val(coords.x);
         $('#Bottom').val(coords.y2);
         $('#Right').val(coords.x2);

         var width = @Model.Width;
         var height = @Model.Height;
         var rx = 100 / coords.w;
         var ry = 100 / coords.h;

         jQuery('#preview').css({
             width: Math.round(rx * width) + 'px',
             height: Math.round(ry * height) + 'px',
             marginLeft: '-' + Math.round(rx * coords.x) + 'px',
             marginTop: '-' + Math.round(ry * coords.y) + 'px'
         });
     }
}

</script>

 <div id="cropContainer">

     <div id="cropPreview">
     Preview:
        <img src="@Model.Avatar.ImageUrl" id="preview" alt="" />
    </div>

 <div id="cropDisplay">
 Display:
     <img src="/Content/image/strawberry.png" id="avatarImageEditor" alt="" />
</div>

<input id="Top" name="Top" type ="text"/>
<input id="Bottom" name="Top" type ="text"/>
<input id="Left" name="Top" type ="text"/>
<input id="Right" name="Top" type ="text"/>

</div>

<div id="mainform">

@using (Html.BeginForm("Edit", "Avatar", FormMethod.Post))
{
    @Html.DisplayFor(x => x.Avatar.ImageUrl)         
    @Html.HiddenFor(x => x.Left)
    @Html.HiddenFor(x => x.Right)
    @Html.HiddenFor(x => x.Top)
    @Html.HiddenFor(x => x.Bottom)
    @Html.HiddenFor(x => x.Avatar.ImageUrl)
    <input type='submit' name='action' value='Crop' />
}
</div>    
    
 *@  
}
@if (Model.IsIPhoneOrIpad)
{ <p>Note: For iPhones and iPads you must have iOS 6 or greater to upload photos.</p><br /> }


@if (Model.Photos != null)
{
    if (Model.Photos.Count() > 0)
    {
            @*<h1>Pictures of Me</h1>*@
    }
    else
    {
        if (!Model.IsFemale)
        {
            <p><strong>Having a photo will increase your chances of being contacted exponentially.  Having multiple photos is even better.</strong></p>
        }
    }
    foreach (var photo in Model.Photos)
    {
     <div class="photowell">
         <div>
           <img src="@Url.Content(Model.PhotoPath + "main/" + photo.PhotoModelID.ToString() + ".jpg")">
             @if (photo.Caption != null) {<p>@photo.Caption</p> }
         </div>
         <br />
         <div>
             <div class="photo-btn">
         @using (Html.BeginForm("Caption", "Photo", new { id = photo.PhotoModelID }, FormMethod.Post))
         {
             @Html.AntiForgeryToken()
             @Html.TextBox("caption", photo.Caption)
                 @*<input type="text" name="caption">@Html.DisplayFor(model => photo.Caption)>*@
           
             <input type="submit" value="Update Caption" class="btn btn-primary photo-caption-btn">
         }
                 </div>
         <div class="photo-btn">
         @using (Html.BeginForm("Promote", "Photo", new { id = photo.PhotoModelID }, FormMethod.Post))
         {
             @Html.AntiForgeryToken()
             <input type="submit" class="btn btn-warning" value="Set Profile Picture">
         }
             </div>
            <div class="photo-btn">
         @using (Html.BeginForm("DeleteConfirmed", "Photo", new { id = photo.PhotoModelID }, FormMethod.Post))
         {
             @Html.AntiForgeryToken()
             <input type="submit" class="btn btn-danger" value="Delete">
         }
                </div>
         </div>
     </div>          
 }
}
      <script src="/Scripts/lcv.js" type="text/javascript" defer="defer"></script>


@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@
