﻿@model LadiesChoice.ViewModels.MyPhotosViewModel

@{
    ViewBag.Title = "My Photos";
}

@using (Html.BeginForm("MyPhotos", "Photo", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    if (Model.ShowMenu)
    {
        <h1>My Photos</h1>
    }
    else
    {
        <h1>Add some photos</h1>
    @if (!Model.IsFemale) {
    <p>Having a photo will increase your chances of being contacted exponentially.  Having multiple photos is even better. </p>
    }
    }

        <fieldset>
            @if (Model.ShowMenu) { <legend>Add a photo</legend> }
            <div><input type="file" name="File" class="photo-fileupld"> 
            <input type="submit" value="Post Photo" class ="btn btn-success">
            @Html.ValidationMessageFor(model => model.File)
                </div>
        </fieldset>
   
}
@if (Model.IsIPhoneOrIpad) { <p>Note: For iPhones and iPads you must have iOS 6 or greater to upload photos.</p><br /> }


@if (Model.Photos != null) {
        if (Model.Photos.Count() > 0) {
            @*<h1>Pictures of Me</h1>*@
        } else { 
            if (!Model.IsFemale) {
            <p><strong>Your profile will not be visible to ladies until you add a picture of yourself.</strong></p>
            }
        }
 foreach (var photo in Model.Photos) {
     <div class="photowell">
         <div>
           <img src="@Url.Content(Model.PhotoPath + "main/" + photo.PhotoModelID.ToString()+ ".jpg")">
         </div>
         <br />
         <div>
             <div class="photo-btn">
         @using (Html.BeginForm("Caption", "Photo", new { id = photo.PhotoModelID }, FormMethod.Post))
         {
             @Html.AntiForgeryToken()
             @Html.TextBox("caption", photo.Caption)
                 @*<input type="text" name="caption">@Html.DisplayFor(model => photo.Caption)>*@
           
             <input type="submit" value="Update Caption" class="btn btn-primary photo-caption-btn">
         }
                 </div>
         <div class="photo-btn">
         @using (Html.BeginForm("Promote", "Photo", new { id=photo.PhotoModelID }, FormMethod.Post))
         {
             @Html.AntiForgeryToken()
             <input type="submit" class="btn btn-warning" value="Set Profile Picture">
         }
             </div>
            <div class="photo-btn">
         @using (Html.BeginForm("DeleteConfirmed", "Photo", new { id = photo.PhotoModelID }, FormMethod.Post))
         {
             @Html.AntiForgeryToken()
             <input type="submit" class="btn btn-danger" value="Delete">
         }
                </div>
         </div>
     </div>          
 }
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
