﻿@model LadiesChoice.ViewModels.MyPhotosViewModel

@{
    ViewBag.Title = "View Photos";
}

    <h1>Pictures of @Model.UsernameOfPhotoOwner</h1>
<p><a href="/Profile/Index/@Model.ProfileModelID">Back to @Model.UsernameOfPhotoOwner's profile</p></a>

 @foreach (var photo in Model.Photos) {
     <div class="photowell">
         <div>
           <img src="@Url.Content(Model.PhotoPath + "main/" + photo.PhotoModelID.ToString()+ ".jpg")">
         </div>
         <div>@photo.Caption</div>
         <div><a href="/Photo/Report/@Model.ProfileModelID/?photo=@photo.PhotoModelID">report</a></div>
         <br />
         
     </div>          
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
